.room-rate-card__room-rate-calc {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}
