include ../text-field/text-field.pug

mixin entry-card({ title = 'Войти', textFieldEmail, textFieldPassword, buttonEntry, accountSectionLabel ,buttonCreateAccount } = {})
  .entry-card
    form
      h1.entry-card__title !{title}
      .entry-card__login-section
        .entry-card__text-field-wrapper
          +text-field(textFieldEmail || { 'placeholderText': 'Email', 'type': 'email' })
        .entry-card__text-field-wrapper
          +text-field(textFieldPassword || { 'placeholderText': 'Пароль', 'type': 'password' })
      +button(buttonEntry || { 'type': 'arrow', 'text': 'войти' })
      .entry-card__new-account-section
        .entry-card__label !{accountSectionLabel || 'Нет аккаунта на Toxin?'}
        .entry-card__button-wrapper
          +button(buttonCreateAccount || { 'type': 'border', 'text': 'создать' })
