include ../dropdown/dropdown.pug
include ../button/button.pug

mixin searchRoomCard(args)
    .searchRoomCard
        h1(class='searchRoomCard__title') !{args.title}
        +dropdown('date', 'searchRoomDateDrop', 'прибытие', 'выезд')
        +dropdown('guests', 'searchRoomGuestsDrop', 'гости')
        +button('arrowButton', 'подобрать номер')