mixin toggle({ name = 'toggle', id, text = 'Получать спецпредложения' } = {})
  if id === undefined 
    - id = 'toggle' + Math.random() * (9999 - 0) + 0

  .toggle
    input.toggle__checkbox(type="checkbox", name=name, id=id)
    label.toggle__label(for=id) !{text}
