.entry-card {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.entry-card__title {
    font-family: 'Open Sans';
    margin: 8px 0 20px;
}

.entry-card__create-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-card__login-details {
    margin-bottom: 20px;
}

.entry-card__create-account {
    margin-top: 30px;
}