include ../text-field/text-field.pug

mixin entryCard()
    .entry-card
        h1(class='entry-card__title') Войти
        .entry-card__login-details
            +text-field({placeholderText: 'Email'})
            +text-field({placeholderText: 'Пароль'})
        +button({type: 'arrow', text: 'войти'})
        .entry-card__create-account
            .entry-card__create-account-label Нет аккаунта на Toxin?
            .entry-card__create-account-button
                +button({type: 'border', text: 'создать'})