@keyframes landing-animation-1 {
  0% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes landing-animation-2 {
  0% {
    opacity: 0;
  }
  27% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes landing-animation-3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
