@import '../../scss/mixins';
@import './animations';

.site-container {
  @include site-container;
}

.content-section {
  @include content-section;
}

article {
  @include article;
}

.landing-page {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  &__header-container {
    position: relative;
    z-index: 3;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    z-index: 1;

    &_first {
      background: url('../../assets/images/landing-image-1.png');
      animation: landing-animation-1 40s infinite;
    }

    &_second {
      background: url('../../assets/images/landing-image-2.png');
      animation: landing-animation-2 40s infinite;
    }

    &_third {
      background: url('../../assets/images/landing-image-3.png');
      animation: landing-animation-3 40s infinite;
    }
  }

  &__content-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: 1160px;
    padding: 70px 0;
    z-index: 1;
    margin: 0 auto;
  }

  &__card-container {
    width: 100%;
    max-width: 380px;
  }

  &__body-text {
    position: absolute;
    width: 297px;
    text-align: right;
    bottom: 0;
    right: 0;
    padding-bottom: 18px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
  }
}
