.navbar__hidden-list_vertical {
  align-items: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in;
  & .header__hidden-list-item:last-child {
    padding-bottom: 0;
  }
}
