.navbar__hidden-list_vertical {
  padding: 0;
  align-items: center;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
  & .header__hidden-list-item:last-child {
    padding-bottom: 0;
  }
}
