.navbar__item {
  white-space: nowrap;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
  flex-direction: column;
  transition: 0.5s ease;
  cursor: pointer;
  &:hover {
    color: rgba(31, 32, 65, 0.75);
  }
}
