.dropdown {
    display: block;
}

.dropdown__header {
    width: 320px;
    height: 44px;    
    padding: 13px 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 1;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(31, 32, 65, 0.75);
    &:hover, &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
        outline: none;
    }
}

.dropdown__header-element {
    display: inline-block;
}

.dropdown__expand-more {
    width: 8px;
    height: 8px;
    border-top: 1px solid rgba(31, 32, 65, 0.75);
    border-right: 1px solid rgba(31, 32, 65, 0.75);
    transform: rotate(135deg);
    margin-bottom: 5px;
}

.dropdown__options {
    position: absolute;
    display: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    width: 320px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 6px;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.dropdown__option {
    font-weight: bold;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    color: #1F2041;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    margin: 4px 0;
}

.dropdown__quantity-selection {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown__quantity-number {
    width: 30px;
    text-align: center;
}

.dropdown__quantity-button {
    width: 30px;
    height: 30px;
    font-family: "Montserrat";
    font-size: 18px;
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 15px;
    background: #FFFFFF;
    line-height: 1;
    &:focus {
        outline: none;
    }
    &:active {
        transform: scale(0.9, 0.9);
    }
    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.75);
        color: rgba(31, 32, 65, 0.75);
    }
    &:disabled {
        border: 1px solid rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.25);
    }
}

.dropdown__bottom-buttons-panel {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
}

.dropdown__bottom-button {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    border: none;
    background: #FFFFFF;
    &:focus {
        outline: none;
    }
    &:hover {
        color: rgba(31, 32, 65, 0.75);
    }
    &:active {
        transform: scale(0.9, 0.9);
    }
}

.dropdown__button-clear {
    padding: 0;
    display: none;
}

.dropdown__button-apply {
    color: #BC9CFF;
    &:hover {
        color: #8f72ce;
    }
}