.dropdown_container
    .dropdown
        p title
    .options
        .option
            p some text
        .option
            p some text
        .option
            p some text
        .option
            p some text
        .option
            p some text
        .option
            p some text


//ul(class="dropdown_style")
    li(class="dropdown__title_style") Сколько гостей
        p взрослые
        p дети
        P младенцы