mixin set_dropdown(type='guests')
    if type == 'guests'
        - var options = ['взрослые', 'дети', 'младенцы']
        - var buttons = true
        - var dropdownClass = 'dropdown_guests'
    else if type = 'comfort'
        - var options = ['спальни', 'кровати', 'ванные комнаты']
        - var buttons = false
        - var dropdownClass = 'dropdown_comfort'

    div(class='dropdown ' + dropdownClass)
        .dropdown__header
            .dropdown__header-element.dropdown__header-text Сколько гостей
            .dropdown__header-element.dropdown__expand-more
        .dropdown__options
            each val in options
                .dropdown__option
                    .dropdown__option-title !{val}
                    .dropdown__quantity-selection
                        button(class='dropdown__subtract-button dropdown__quantity-button' disabled) -
                        .dropdown__quantity-number 0
                        button(class='dropdown__add-button dropdown__quantity-button') +
            if buttons
                .dropdown__bottom-buttons-panel
                    button(class="dropdown__button-clear dropdown__bottom-button") очистить
                    button(class="dropdown__button-apply dropdown__bottom-button") применить