include ../button/button.pug

mixin counting-menu({ options = [] } = {})
    .counting-menu.js-counting-menu
      each val in options
        .counting-menu__option
          .counting-menu__option-title !{val}
          .counting-menu__quantity-buttons-group
            button.counting-menu__quantity-button.counting-menu__quantity-button_subtract.js-counting-menu__quantity-button(
              type='button' disabled
            ) -
            .counting-menu__quantity-number.js-counting-menu__quantity-number 0
            button.counting-menu__quantity-button.counting-menu__quantity-button_add.js-counting-menu__quantity-button(
              type='button'
            ) +
