- const config = require('./config.json');

include ../../common.blocks/color-block/color-block.pug
include ../../common.blocks/type-block/type-block.pug
include ../../common.blocks/text-field/text-field.pug
//- 
include ../../common.blocks/date-dropdown/date-dropdown.pug
include ../../common.blocks/filter-date-dropdown/filter-date-dropdown.pug
include ../../common.blocks/guests-dropdown/guests-dropdown.pug
include ../../common.blocks/dropdown/dropdown.pug
include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../common.blocks/room-details/room-details.pug
include ../../common.blocks/checkbox-button/checkbox-button.pug
include ../../common.blocks/radio-button/radio-button.pug
include ../../common.blocks/toggle/toggle.pug
include ../../common.blocks/like-button/like-button.pug
include ../../common.blocks/rate-button/rate-button.pug
include ../../common.blocks/range-slider/range-slider.pug
include ../../common.blocks/button/button.pug
include ../../common.blocks/pagination/pagination.pug
include ../../common.blocks/bullet-list/bullet-list.pug
include ../../common.blocks/guest-review/guest-review.pug
include ../../common.blocks/calendar/calendar.pug
include ../../common.blocks/room-card/room-card.pug
include ../../common.blocks/search-room-card/search-room-card.pug
include ../../common.blocks/registration-card/registration-card.pug
include ../../common.blocks/entry-card/entry-card.pug
include ../../common.blocks/room-rate-card/room-rate-card.pug
include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI kit
  body
    .ui-kit
      //- COLORS AND TYPE
      section.ui-kit__section
        h1.ui-kit__section-title Colors & Type
        .ui-kit__colors-and-type
          .ui-kit__colors
            each colorBlock in config.colorBlocks
              .ui-kit__color-block
                +color-block({ theme: colorBlock.theme, colorName: colorBlock.colorName, colorCode: colorBlock.colorCode })
          .ui-kit__type
            each typeBlock in config.typeBlocks
              .ui-kit__type-block
                +type-block({tag: typeBlock.tag, text: typeBlock.text})

      //- FORM ELEMENTS
      section.ui-kit__section
        h1.ui-kit__section-title Form Elements
        .ui-kit__form-elements
          section.ui-kit__three-column-section
            .ui-kit__column
              .ui-kit__block-wrapper
                h3.ui-kit__block-title Text Field
                +text-field(config.textField)
              .ui-kit__block-wrapper
                +guests-dropdown(config.dropdown)
              .ui-kit__block-wrapper
                h3.ui-kit__block-title masked text field
                +text-field(config.maskedTextField)
              .ui-kit__block-wrapper
                +date-dropdown(config.dateDropdown)
              .ui-kit__block-wrapper.ui-kit__block-wrapper_size_s
                .ui-kit__block-wrapper
                  +filter-date-dropdown(config.filterDateDropdown)
                .ui-kit__block-wrapper
                  h3.ui-kit__block-title subscription text field
                  +text-field(config.subscriptionTextField)
                .ui-kit__block-wrapper
                  +dropdown(config.comfortDropDown)
                .ui-kit__block-wrapper
                  +expandable-checkbox-list(config.expandableCheckboxList)
            .ui-kit__column
              .ui-kit__block-wrapper
                h3.ui-kit__block-title Checkbox Buttons
                each checkboxButton in config.checkboxButtons
                  .ui-kit__checkbox-container
                    +checkbox-button({ label: checkboxButton.label, id: checkboxButton.id, isChecked: checkboxButton.isChecked })
              .ui-kit__block-wrapper
                h3.ui-kit__block-title Radio Buttons
                +radio-button(config.radioButton)
              .ui-kit__block-wrapper
                h3.ui-kit__block-title toggle
                +toggle(config.toggle)
              .ui-kit__block-wrapper
                h3.ui-kit__block-title like button
                .ui-kit__like-buttons-group
                  each likeButton in config.likeButtons
                    .ui-kit__like-button-block
                      +like-button({ likesCount: likeButton.likesCount, isChecked: likeButton.isChecked })
              .ui-kit__block-wrapper
                h3.ui-kit__block-title rate button
                .ui-kit__rate-buttons-group
                  each rateButton in config.rateButtons
                    .ui-kit__rate-button-block
                      +rate-button({ rate: rateButton.rate })
              .ui-kit__block-wrapper
                h3.ui-kit__block-title RICH CHECKBOX BUTTONS
                each richCheckboxButton in config.richCheckboxButtons
                  .ui-kit__checkbox-container
                    +checkbox-button({ label: richCheckboxButton.label, id: richCheckboxButton.id, isChecked: richCheckboxButton.isChecked, isRich: richCheckboxButton.isRich, text: richCheckboxButton.text })
            .ui-kit__column
              .ui-kit__block-wrapper
                +range-slider(config.rangeSlider)
              .ui-kit__block-wrapper
                h3.ui-kit__block-title.ui-kit__block-title_big-vertical-margins Buttons
                .ui-kit__block-wrapper
                  .ui-kit__buttons-group
                    each button in config.buttons
                      .ui-kit__button-wrapper
                        +button(button)
                .ui-kit__block-wrapper
                  .ui-kit__buttons-group
                    each button in config.borderButtons
                      .ui-kit__button-wrapper
                        +button(button)
                .ui-kit__block-wrapper
                  .ui-kit__only-text-buttons-group
                    each onlyTextButton in config.onlyTextButtons
                      .ui-kit__only-text-button-block
                        +button({ text: onlyTextButton.text, type: onlyTextButton.type, isDisabled: onlyTextButton.isDisabled })
                .ui-kit__block-wrapper
                  +button(config.arrowButton)
              .ui-kit__block-wrapper
                h3.ui-kit__block-title.ui-kit__block-title_big-vertical-margins Pagination
                +pagination(config.pagination)
              .ui-kit__block-wrapper
                h3.ui-kit__block-title bullet list
                +bullet-list(config.bulletList)
          section.ui-kit__two-column-section
            .ui-kit__column
              .ui-kit__block-wrapper
                each roomDetails in config.roomsDetails
                  +room-details({icon: roomDetails.icon, title: roomDetails.title, description: roomDetails.description})
            .ui-kit__column_size_s
              .ui-kit__block-wrapper
                +guest-review(config.guestReview)

      //- CARDS
      section.ui-kit__section
        h1.ui-kit__section-title Cards
        .ui-kit__cards
          .ui-kit__cards-column.ui-kit__cards-column_first
            .ui-kit__block-wrapper
              +search-room-card(config.searchRoomCard)
            .ui-kit__block-wrapper
              +registration-card(config.registrationCard)
          .ui-kit__cards-column.ui-kit__cards-column_second
            .ui-kit__block-wrapper
              +room-rate-card(config.roomRateCard)
            .ui-kit__block-wrapper
              +entry-card(config.entryCard)
          .ui-kit__cards-column.ui-kit__cards-column_third
            .ui-kit__block-wrapper.ui-kit__block-wrapper_size_xs
              +calendar
            .ui-kit__cards-column_width_s
              each roomCard in config.roomCards
                .ui-kit__block-wrapper
                  +room-card(roomCard)

      //- HEADERS & FOOTERS
      section.ui-kit__section
        h1.ui-kit__section-title Headers & Footers
        +header(config.header)
        +footer(config.footer)
