.section {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px 100px 20px;
}

// COLORS AND TYPE SECTION

.colors-and-type-section {
  &__title {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
  }
}

.colors-and-type {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: flex-start;

  &__type {
    padding-left: 20px;
    margin: -50px 0;
    max-width: 420px;
    flex-direction: column;
  }

  &__type-block {
    margin: 50px 0;
  }

  &__colors {
    margin: -20px 0;
    padding-right: 5%;
    box-sizing: border-box;
    width: 59%;
    min-width: 190px;
    flex-direction: column;
  }

  &__color-block {
    margin: 20px 0;
  }
}

@media screen and (max-width: 500px) {
  .colors-and-type-section {
    &__title {
      text-align: center;
    }
  }

  .colors-and-type {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__colors {
      min-width: 0;
      padding: 0;
      margin-bottom: 50px;
    }

    &__type {
      padding: 0;
    }
  }
}

// FORM ELEMENTS SECTION

.form-elements {
  &__three-column-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }

  &__column {
    width: 30%;
    max-width: 320px;

    &_100-percent-width {
      width: 100%;
    }

    &_width-713 {
      padding-left: 50px;
      max-width: 713px;
      display: flex;
      align-items: center;
    }
  }

  &__block-wrapper {
    margin-bottom: 22px;
    width: 100%;

    &_width-266 {
      max-width: 266px;
    }
  }

  &__block-title {
    margin-bottom: 5px;

    &_vertical-margins-15 {
      margin: 15px 0;
    }
  }

  &__like-buttons-group {
    flex-direction: row;
    display: inline-flex;
    margin: 0 -5px;
  }

  &__like-button-block {
    margin: 0 5px;
  }

  &__rate-buttons-group {
    flex-direction: row;
    display: inline-flex;
    margin: 0 -10px;
  }

  &__rate-button-block {
    margin: 0 10px;
  }

  &__buttons-group {
    margin: 50px 0;
  }

  &__only-text-buttons-group {
    display: flex;
    margin: 0 -10px;
  }

  &__only-text-button-block {
    margin: 0 10px;
  }

  &__two-column-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 905px) {
  .form-elements {
    &__three-column-section {
      justify-content: space-around;
      margin-bottom: 50px;
    }

    &__column {
      width: 40%;
      max-width: 320px;
    }

    &__three-column-layout {
      margin-bottom: 0;
    }

    &__title {
      text-align: center;
    }
  }
}

@media screen and (max-width: 675px) {
  .form-elements {
    &__column {
      width: 100%;
      max-width: 320px;
    }
  }
}

@media screen and (max-width: 610px) {
  .form-elements {
    &__two-column-section {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__three-column-section {
      margin: 0;
    }

    &__column {
      &_width-713 {
        padding: 0;
      }
    }
  }
}

// CARDS

.cards {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'one two three';

  &__title {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
  }

  &__column {
    width: 100%;
    max-width: 380px;

    &_width-270 {
      width: 100%;
      max-width: 270px;
    }
  }

  &__column-one {
    grid-area: one;
  }

  &__column-two {
    grid-area: two;
  }

  &__column-three {
    grid-area: three;
  }

  &__block-wrapper {
    margin-bottom: 22px;
    width: 100%;

    &_width-320 {
      max-width: 320px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'one two'
      'three three';

    &__title {
      text-align: center;
    }

    &__column-three {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-areas:
      'one one'
      'two two'
      'three three';
  }
}

// HEADERS & FOOTERS

.headers-and-footers {
  &__title {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .headers-and-footers {
    &__title {
      text-align: center;
    }
  }
}
