- const config = require('./config.json')

include ../../common.blocks/color-block/color-block.pug
include ../../common.blocks/type-block/type-block.pug
include ../../common.blocks/text-field/text-field.pug
include ../../common.blocks/dropdown/dropdown.pug
include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../common.blocks/room-details/room-details.pug
include ../../common.blocks/checkbox-button/checkbox-button.pug
include ../../common.blocks/radio-button/radio-button.pug
include ../../common.blocks/toggle/toggle.pug
include ../../common.blocks/like-button/like-button.pug
include ../../common.blocks/rate-button/rate-button.pug
include ../../common.blocks/range-slider/range-slider.pug
include ../../common.blocks/button/button.pug
include ../../common.blocks/pagination/pagination.pug
include ../../common.blocks/bullet-list/bullet-list.pug
include ../../common.blocks/guest-review/guest-review.pug
include ../../common.blocks/calendar/calendar.pug
include ../../common.blocks/number-card/number-card.pug
include ../../common.blocks/search-room-card/search-room-card.pug
include ../../common.blocks/registration-card/registration-card.pug
include ../../common.blocks/entry-card/entry-card.pug
include ../../common.blocks/room-rate-card/room-rate-card.pug
include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
    body
        .central-container
            //- COLORS AND TYPE
            h1(class="section-title") Colors & Type
            .section-block
                .colors-and-type
                    .colors-and-type__colors
                        each colorBlock in config.colorBlocks
                            +color-block({theme: colorBlock.theme, 
                            colorName: colorBlock.colorName, 
                            colorCode: colorBlock.colorCode})
                    .colors-and-type__type
                        each typeBlock in config.typeBlocks
                            +type-block({tag: typeBlock.tag, text: typeBlock.text})
            
            //- FORM ELEMENTS
            h1(class="section-title") Form Elements
            .section-block
                .form-elements
                    .form-elements__three-column-layout
                        .form-elements__column.form-elements__column1
                            .module
                                h3(class='module__title') Text Field
                                +text-field(config.textField)
                            .module
                                +dropdown(config.dropdown)
                            .module
                                h3(class='module__title') masked text field
                                +text-field(config.maskedTextField)
                            .module
                                +dropdown(config.dateDropdown)
                            div(class='module module_width266')
                                .module
                                    +dropdown(config.filterDateDropdown)
                                .module
                                    h3(class='module__title') subscription text field
                                    +text-field(config.subscriptionTextField)
                                .module
                                    +dropdown(config.comfortDropDown)
                                .module
                                    +expandable-checkbox-list(config.expandableCheckboxList)
                        .form-elements__column.form-elements__column2.form-elements__column_side-paddings
                            .module
                                h3(class='module__title') Checkbox Buttons
                                each checkboxButton in config.checkboxButtons
                                    +checkbox-button({ label: checkboxButton.label, 
                                    id: checkboxButton.id, 
                                    checked: checkboxButton.checked })
                            .module
                                h3(class='module-title') Radio Buttons
                                +radio-button(config.radioButton)
                            .module
                                h3(class='module-title') toggle
                                +toggle(config.toggle)
                            .module
                                h3(class='module-title') like button
                                .likeButtonSection
                                    each likeButton in config.likeButtons
                                        +like-button({ likesCount: likeButton.likesCount, checked: likeButton.checked })
                            .module
                                h3(class='module-title') rate button
                                .rateButtonSection
                                    each rateButton in config.rateButtons
                                        +rate-button({ rate: rateButton.rate })
                            .module
                                h3(class='module-title') RICH CHECKBOX BUTTONS
                                each richCheckboxButton in config.richCheckboxButtons
                                        +checkbox-button({label: richCheckboxButton.label, 
                                        id: richCheckboxButton.id, 
                                        checked: richCheckboxButton.checked, 
                                        rich: richCheckboxButton.rich, 
                                        text: richCheckboxButton.text})
                        .form-elements__column.form-elements__column3
                            .module
                                +range-slider(config.rangeSlider)
                            .buttons-block
                                h3(class='module__title') Buttons
                                .module
                                    +button(config.button)
                                .module
                                    +button(config.borderButton)
                                .module.module-2-buttons
                                    each onlyTextButton in config.onlyTextButtons
                                        +button({text: onlyTextButton.text, 
                                        type: onlyTextButton.type, 
                                        theme: onlyTextButton.theme})
                                .module
                                    +button(config.arrowButton)
                                .module
                                    h3(class='module__title') Pagination
                                    +pagination(config.pagination)
                                .module.module__bullet-list
                                    h3(class='module__title') bullet list
                                    +bullet-list(config.bulletList)
                    .form-elements__two-column-layout
                        .form-elements__column.form-elements__column_no-margin
                            .module
                                each roomDetails in config.roomsDetails
                                        +room-details({icon: roomDetails.icon, 
                                        title: roomDetails.title, description: 
                                        roomDetails.description})
                        .form-elements__column_100-percent-width
                            .module.module__guest-review
                                +guest-review(config.guestReview)

            //- CARDS
            h1(class="section-title") Cards
            .section-block
                .cards
                    .cards_column
                        .module
                            +search-room-card(config.searchRoomCard)
                        .module
                            +registration-card()
                    .cards_column
                        .module
                            +room-rate-card({'roomNumber': 888, 'lux': true, 'roomRate': 9990, 'serviceCost': -2179, 'additionalServiceCost': 300})
                        .module
                            +entry-card()
                    .cards_column
                        .module.module_calendar
                            +calendar
                        .cards_column-270
                            .module
                                +number-card({roomNumber: 888, lux: true, roomRate: 9990, rating: 5, reviewsNumber: 145, images: ['../images/number1.png', '../images/number6.png', '../images/number10.png', '../images/number7.png']})
                            .module
                                +number-card({roomNumber: 840, lux: false, roomRate: 9900, rating: 4, reviewsNumber: 65, images: ['../images/number2.png', '../images/number12.png', '../images/number8.png', '../images/number3.png']})
            h1(class="section-title") Headers & Footers
        +header()
        +footer()