mixin button(args)
    //- {theme, text}
    - let buttonPosition = ''
    - let buttonTheme = ''
    - let button_class = 'button__button-wrapper  button__regular-button'
    //- if type == 'regularButton'
    //-     - let button_class = 'button__button-shape  button__regular-button'
    if theme == 'border'
        - let button_class = 'button__button-wrapper  button__border-button'
    else if type == 'onlyText'
        - let button_class = 'button__button-wrapper  button__only-text-button'
    else if theme == 'onlyTextGray'
            - buttonTheme = 'button__only-text-button_gray_teme'
    else if type == 'arrow'
        - let button_class = 'button__button-wrapper  button__arrow-button'
        - buttonPosition = 'button_position-relative '
    
    div(class='button ' + buttonPosition)
        input(type="button", value=text, class=button_class + ' ' + buttonTheme + ' ' + attributes.class)
        if type == 'arrowButton'
            span(class='material-icons button__arrow') arrow_forward