include ../drop-menu/drop-menu.pug

mixin date-dropdown({ titleOne = 'date Dropdown', titleTwo = 'date Dropdown' } = {})
  - const textFieldOptions = { 'placeholderText': 'ДД.ММ.ГГГГ', 'masked': true, 'type': 'text' }
  
  .date-dropdown.js-date-dropdown

    .date-dropdown__date-section
      .date-dropdown__date-block.date-dropdown__date-block_right-padding
        h3.date-dropdown__title !{titleOne}
        .date-dropdown__input.js-date-dropdown__input
          +text-field(textFieldOptions)
          i.date-dropdown__date-arrow keyboard_arrow_down

      .date-dropdown__date-block.date-dropdown__date-block_left-padding
        h3.date-dropdown__title !{titleTwo}
        .date-dropdown__input.js-date-dropdown__input
          +text-field(textFieldOptions)
          i.date-dropdown__date-arrow keyboard_arrow_down
          
    +drop-menu({ type: 'calendar', calendarModifiers: ['separate-from-dropdown'], modifiers: ['no-paddings', 'no-borders'] })