.button_position-relative {
    position: relative;
}

.button__button-shape {
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    &:focus {
        outline: none;
    }
}


.button__regular-button {
    &:hover {
        opacity: 0.5;
    }
    &:active {
        background: linear-gradient(180deg, rgb(157, 113, 252) 0%, #7795f7 100%);
        opacity: 1;
    }
}

.button__border-button {
    color: #BC9CFF;
    border: 2px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    -webkit-background-clip: padding-box, border-box;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        background: linear-gradient(white, white), linear-gradient(180deg, rgb(157, 113, 252) 0%, #7795f7 100%);
        opacity: 1;
        box-sizing: border-box;
        background-origin: border-box;
        background-clip: padding-box, border-box;
        -webkit-background-clip: padding-box, border-box;
    }
}

.button__only-text-button {
    height: 15px;
    color: #BC9CFF;
    background: #FFFFFF;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        color: #a77eff;
        opacity: 1;
    }
}

.button__only-text-button_gray_teme {
    color: rgba(31, 32, 65, 0.5);
    &:active {
        color: rgb(31, 32, 65, 0.75);
        opacity: 1;
    }
}

.button__arrow-button {
    width: 320px;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        background: linear-gradient(180deg, rgb(157, 113, 252) 0%, #7795f7 100%);
        opacity: 1;
    }
}

.button__arrow {
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 24px;
    color: #FFFFFF;
}