mixin toggle(toggle_text, toggle_name, toggle_id)
    .toggle
        input(class='toggle__checkbox' type="checkbox", name=toggle_name, id=toggle_id)
        label(class='toggle__label' for=toggle_id) !{toggle_text}