.navbar__hidden-list_horizontal {
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  transform: translateY(100%);
  padding: inherit;
}
