include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list(checkboxes, title)
    - const ID = 'expandableCheckboxList'
    .expandable-checkbox-list
        input(type="checkbox", name=ID, id=ID class='expandable-checkbox-list__check')
        label(for=ID class='expandable-checkbox-list__title-section')
            h3(class='expandable-checkbox-list__title') !{title}
            i(class='material-icons expandable-checkbox-list__expand-more') keyboard_arrow_down
        .expandable-checkbox-list__hide-list
            each checkboxSettings in checkboxes
                +checkboxButton(checkboxSettings[0], checkboxSettings[1], checkboxSettings[2])