@import '../../../scss/vars.scss';

.expandable-checkbox-list {
    width: 100%;
    max-width: 500px;
}

.expandable-checkbox-list__title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    &:hover .expandable-checkbox-list__expand-more{
        color: $darkShade75;
    }
}

.expandable-checkbox-list__title {
    color: $darkShade100;
    margin-bottom: 17px;
    margin: 0;
    &:hover {
        cursor: default;
    }
}

.expandable-checkbox-list__expand-more {
    color: $darkShade50;
    transition: .5s ease;
    &:hover {
        cursor: default;
    }
}

.expandable-checkbox-list__hide-list {
    flex: none;
    display: none;
}