html {    
    font-size: 14px;
    word-spacing: 0.5px;
    letter-spacing: 0px;
    font-weight: 350;
}

body {
    font-family: "Montserrat";
    color: rgba(31, 32, 65, 0.75);
    line-height: 1.7;
}

h1 {
    font-size: 1.64rem;
    line-height: 1.35;
}

h2 {
    font-size: 1.3rem;
    line-height: 1.4;
}

h3 {
    font-size: 0.85rem;
    line-height: 1;
}

.central-container {
    max-width: 1100px;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 50px;
}


// COLORS AND TYPE BLOCK

.colors-and-type {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    padding-bottom: 145px;
}

.colors-and-type__type {
    width: 38%;
    flex-direction: column;
}

.colors-and-type__colors {
    width: 62%;
    flex-direction: column;
    display: inline-block;
    flex: none;
}


// FORM ELEMENTS BLOCK

.form-elements {
    padding-bottom: 145px;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/montserratlight.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 300; 
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/montserrat.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/QuicksandBold.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/QuicksandLight.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 300; 
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/QuicksandRegular.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 400; 
}

@media screen and (max-width: 750px){
    .colors-and-type {
        flex-direction: column;
    }

    .colors-and-type__type {
        width: 100%;
        margin-top: 50px;
    }
}