<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
        link(rel="stylesheet", href="style.scss")
    body
        .central-container
            .colors-and-type
                .colors-and-type__colors
                    .colors-and-type__color-section
                        .colors-and-type__color-square.colors-and-type__color-square_block_Dark_Shade_100
                        .colors-and-type__color-description
                            .colors-and-type__color-name
                                p Dark Shade 100%
                            .colors-and-type__color-code
                                p #1F2041
                    .colors-and-type__color-section
                        .colors-and-type__color-square.colors-and-type__color-square_block_Dark_Shade_75
                        .colors-and-type__color-description
                            .colors-and-type__color-name
                                p Dark Shade 100%
                            .colors-and-type__color-code
                                p #1F2041     
                    .colors-and-type__color-section
                        .colors-and-type__color-square.colors-and-type__color-square_block_Dark_Shade_50
                        .colors-and-type__color-description
                            .colors-and-type__color-name
                                p Dark Shade 100%
                            .colors-and-type__color-code
                                p #1F2041
                    .colors-and-type__color-section
                        .colors-and-type__color-square.colors-and-type__color-square_block_Dark_Shade_25
                        .colors-and-type__color-description
                            .colors-and-type__color-name
                                p Dark Shade 100%
                            .colors-and-type__color-code
                                p #1F2041
                    .colors-and-type__color-section
                        .colors-and-type__color-square.colors-and-type__color-square_block_Dark_Shade_5
                        .colors-and-type__color-description
                            .colors-and-type__color-name
                                p Dark Shade 100%
                            .colors-and-type__color-code
                                p #1F2041
                    .colors-and-type__color-section
                        .colors-and-type__color-square.colors-and-type__color-square_block_Purple
                        .colors-and-type__color-description
                            .colors-and-type__color-name
                                p Dark Shade 100%
                            .colors-and-type__color-code
                                p #1F2041
                    .colors-and-type__color-section
                        .colors-and-type__color-square.colors-and-type__color-square_block_Green
                        .colors-and-type__color-description
                            .colors-and-type__color-name
                                p Dark Shade 100%
                            .colors-and-type__color-code
                                p #1F2041
                .colors_and_type__type
                    .colors_and_type__type_name
                    .colors_and_type__text
        