<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="modules/color-block/color-block.scss")
        link(rel="stylesheet", href="modules/type-block/type-block.scss")
        link(rel="stylesheet", href="modules/text-field/text-field.scss")
        link(rel="stylesheet", href="modules/dropdown/dropdown.scss")
        link(rel="stylesheet", href="modules/checkbox-button/checkbox-button.scss")
        link(rel="stylesheet", href="modules/radio-button/radio-button.scss")
        link(rel="stylesheet", href="modules/toggle/toggle.scss")
        link(rel="stylesheet", href="modules/like-button/like-button.scss")
        link(rel="stylesheet", href="modules/rate-button/rate-button.scss")
        link(rel="stylesheet", href="modules/range-slider/range-slider.scss")
        link(rel="stylesheet", href="modules/button/button.scss")
        link(rel="stylesheet", href="modules/pagination/pagination.scss")
        link(rel="stylesheet", href="modules/expandable-checkbox-list/expandable-checkbox-list.scss")
    body
        .central-container
            h1(class="section-title") Colors & Type
            .colors-and-type
                .colors-and-type__colors
                    include modules/color-block/color-block.pug
                    +set_color-sample('bottom', 'Dark_Shade_100', 'Dark Shade 100%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_75', 'Dark Shade 75%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_50', 'Dark Shade 50%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_25', 'Dark Shade 25%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_5', 'Dark Shade 5%', '#1F2041')
                    +set_color-sample('bottom', 'Purple', 'Purple', '#BC9CFF')
                    +set_color-sample('0', 'Green', 'Green', '#6FCF97')
                .colors-and-type__type
                    include modules/type-block/type-block.pug
                    +set_type-sample('bottom', 'h1', 'H1', 'This one is the sub-section or widget title')
                    +set_type-sample('bottom', 'h2', 'H2', 'Next one is the item title inside widgets')
                    +set_type-sample('bottom', 'h3', 'H3', 'THIS IS A LABEL OR CTA TEXT')
                    +set_type-sample('0', 'p', 'Body', 'This is the body text which is used for most ' 
                        + 'of&nbsp;the design, like paragraphs, lists, etc.')
            
            .form-elements
                .form-elements__row-container
                    h1(class="section-title") Form Elements
                    h3(class='module-title') TEXT FIELD
                    include modules/text-field/text-field.pug
                    +set_text_field('Email')
                    h3(class='module-title') DROPDOWN GUESTS
                    include modules/dropdown/dropdown.pug
                    +set_dropdown()
                    h3(class='module-title') MASKED TEXT FIELD
                    +set_text_field('text', 'masked_text_field')
                    h3(class='module-title') DATE DROPDOWN
                    +set_dropdown('date')
                    h3(class='module-title') FILTER DATE DROPDOWN
                    +set_dropdown('filter_date')
                    h3(class='module-title') SUBSCRIPTION TEXT FIELD
                    +set_text_field('Email', 'subscription_textfield')
                    include modules/checkbox-button/checkbox-button.pug
                    h3(class='module-title') CHECKBOX BUTTON
                    +set_checkbox-button('Можно курить', 'noSmoking')
                    +set_checkbox-button('Можно с питомцами', 'pets', true)
                    +set_checkbox-button('Можно пригласить гостей (до 10 человек)', 'guests', true)
                    h3(class='module-title') RADIO BUTTONS
                    include modules/radio-button/radio-button.pug
                    +set_radio-button([['radio1', 'radio', 'male', 'Мужчина'], ['radio2', 'radio', 'female', 'Женщина']])
                    h3(class='module-title') TOGGLE
                    include modules/toggle/toggle.pug
                    +set_toggle('Получать спецпредложения', 'specialOffers', 'specialOffers')
                    h3(class='module-title') LIKE BUTTON
                    include modules/like-button/like-button.pug
                    +set_like-button(12)
                    h3(class='module-title') RATE BUTTON
                    include modules/rate-button/rate-button.pug
                    +set_rate-button(4)
                    h3(class='module-title') RANGE SLIDER
                    include modules/range-slider/range-slider.pug
                    +set_range-slider()
                    h3(class='module-title') BUTTONS
                    include modules/button/button.pug
                    .buttons-block
                        +set_button()
                        +set_button('border-button')
                        +set_button('only-text-button')
                        +set_button('only-text-button', 'click me', 'gray')
                        +set_button('arrow-button', 'перейти к оплате')
                    h3(class='module-title') PAGINATION
                    include modules/pagination/pagination.pug
                    +set_pagination()
                    include modules/expandable-checkbox-list/expandable-checkbox-list.pug
                    +set_expandable-checkbox-list([['Завтрак', 'breakfast'], ['Письменный стол', 'desk', true], ['Стул для кормления', 'feedingChair', true], ['Кроватка', 'crib', true], ['Телевизор', 'tv'], ['Шампунь', 'shampoo']])
                    h3(class='module-title') RICH CHECKBOX BUTTONS
                    +set_checkbox-button('Широкий коридор', 'wideCorridor', false, true, 'Ширина коридоров в номере не&nbsp;менее 91 см.')
                    +set_checkbox-button('Помощник для инвалидов', 'disabledAssistant', false, true, 'На 1 этаже вас встретит специалист и&nbsp;проводит до номера.')
        script(src="modules/dropdown/dropdown.js")
        script(src="modules/text-field/text-field.js")
        script(src="modules/like-button/like-button.js")
        script(src="modules/range-slider/range-slider.js")
        script(src="modules/pagination/pagination.js")
        script(src="modules/expandable-checkbox-list/expandable-checkbox-list.js")