<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="modules/color-block/color-block.scss")
        link(rel="stylesheet", href="modules/type-block/type-block.scss")
        link(rel="stylesheet", href="modules/text-field/text-field.scss")
        link(rel="stylesheet", href="modules/dropdown/dropdown.scss")
        link(rel="stylesheet", href="modules/checkbox-button/checkbox-button.scss")
        link(rel="stylesheet", href="modules/radio-button/radio-button.scss")
        link(rel="stylesheet", href="modules/toggle/toggle.scss")
        link(rel="stylesheet", href="modules/like-button/like-button.scss")
    body
        .central-container
            h1(class="section-title") Colors & Type
            .colors-and-type
                .colors-and-type__colors
                    include modules/color-block/color-block.pug
                    +set_color-sample('bottom', 'Dark_Shade_100', 'Dark Shade 100%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_75', 'Dark Shade 75%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_50', 'Dark Shade 50%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_25', 'Dark Shade 25%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_5', 'Dark Shade 5%', '#1F2041')
                    +set_color-sample('bottom', 'Purple', 'Purple', '#BC9CFF')
                    +set_color-sample('0', 'Green', 'Green', '#6FCF97')
                .colors-and-type__type
                    include modules/type-block/type-block.pug
                    +set_type-sample('bottom', 'h1', 'H1', 'This one is the sub-section or widget title')
                    +set_type-sample('bottom', 'h2', 'H2', 'Next one is the item title inside widgets')
                    +set_type-sample('bottom', 'h3', 'H3', 'THIS IS A LABEL OR CTA TEXT')
                    +set_type-sample('0', 'p', 'Body', 'This is the body text which is used for most ' 
                        + 'of&nbsp;the design, like paragraphs, lists, etc.')
            
            .form-elements
                .form-elements__row-container
                    h1(class="section-title") Form Elements
                    h3 TEXT FIELD
                    include modules/text-field/text-field.pug
                    +set_text_field('Email')
                    h3 DROPDOWN GUESTS
                    include modules/dropdown/dropdown.pug
                    +set_dropdown()
                    h3 MASKED TEXT FIELD
                    +set_text_field('text', 'masked_text_field')
                    h3 DATE DROPDOWN
                    +set_dropdown('date')
                    h3 FILTER DATE DROPDOWN
                    +set_dropdown('filter_date')
                    h3 SUBSCRIPTION TEXT FIELD
                    +set_text_field('Email', 'subscription_textfield')
                    include modules/checkbox-button/checkbox-button.pug
                    h3 CHECKBOX BUTTON
                    +set_checkbox-button('Можно курить', 'noSmoking')
                    +set_checkbox-button('Можно с питомцами', 'pets')
                    +set_checkbox-button('Можно пригласить гостей (до 10 человек)', 'guests')
                    h3 RADIO BUTTONS
                    include modules/radio-button/radio-button.pug
                    - var d = [['radio1', 'radio', 'male', 'Мужчина'], ['radio2', 'radio', 'female', 'Женщина']]
                    +set_radio-button([['radio1', 'radio', 'male', 'Мужчина'], ['radio2', 'radio', 'female', 'Женщина']])
                    h3 TOGGLE
                    include modules/toggle/toggle.pug
                    +set_toggle('Получать спецпредложения', 'specialOffers', 'specialOffers')
                    h3 LIKE BUTTON
                    include modules/like-button/like-button.pug
                    +set_like-button(12)
        script(src="modules/dropdown/dropdown.js")
        script(src="modules/text-field/text-field.js")
        script(src="modules/like-button/like-button.js")
