<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="modules/color-block/color-block.scss")
    body
        .central-container
            .colors-and-type
                .colors-and-type__colors
                    include modules/color-block/color-block.pug
                    +set_color-sample('Dark_Shade_100', 'Dark Shade 100%', '#1F2041')
                    +set_color-sample('Dark_Shade_75', 'Dark Shade 75%', '#1F2041')
                    +set_color-sample('Dark_Shade_50', 'Dark Shade 50%', '#1F2041')
                    +set_color-sample('Dark_Shade_25', 'Dark Shade 25%', '#1F2041')
                    +set_color-sample('Dark_Shade_5', 'Dark Shade 5%', '#1F2041')
                    +set_color-sample('Purple', 'Purple', '#BC9CFF')
                    +set_color-sample('Green', 'Green', '#6FCF97')