<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="modules/color-block/color-block.scss")
        link(rel="stylesheet", href="modules/type-block/type-block.scss")
    body
        .central-container
            .colors-and-type
                .colors-and-type__colors
                    include modules/color-block/color-block.pug
                    +set_color-sample('bottom', 'Dark_Shade_100', 'Dark Shade 100%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_75', 'Dark Shade 75%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_50', 'Dark Shade 50%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_25', 'Dark Shade 25%', '#1F2041')
                    +set_color-sample('bottom', 'Dark_Shade_5', 'Dark Shade 5%', '#1F2041')
                    +set_color-sample('bottom', 'Purple', 'Purple', '#BC9CFF')
                    +set_color-sample('0', 'Green', 'Green', '#6FCF97')
                .colors-and-type__type
                    include modules/type-block/type-block.pug
                    +set_type-sample('bottom', 'h1', 'H1', 'This one is the sub-section or widget title')
                    +set_type-sample('bottom', 'h2', 'H2', 'Next one is the item title inside widgets')
                    +set_type-sample('bottom', 'h3', 'H3', 'THIS IS A LABEL OR CTA TEXT')
                    +set_type-sample('0', 'p', 'Body', 'This is the body text which is used for most ' 
                        + 'of&nbsp;the design, like paragraphs, lists, etc.')
