@import '../../scss/mixins';

.site-container {
  @include site-container;
}

.content-section {
  @include content-section;
}

article {
  @include article;
}

.room-details-page {
  &__room-photos {
    display: flex;
    flex-direction: row;
  }

  &__main-photo {
    width: 68.2%;
    height: 0;
    background: url('../../assets/images/room-details-image-1.png');
    padding-bottom: 33.7%;
    background-size: cover;
    background-position: center;
  }

  &__additional-photos {
    width: 31.8%;
  }

  &__additional-photo-1 {
    width: 100%;
    height: 50%;
    background: url('../../assets/images/room-details-image-2.png');
    background-size: 100% auto;
  }

  &__additional-photo-2 {
    width: 100%;
    height: 50%;
    background: url('../../assets/images/room-details-image-3.png');
    background-size: cover;
    background-position: center;
  }

  &__details-section {
    width: 100%;
    padding: 0 20px 72px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  }

  &__central-container {
    padding-top: 55px;
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 850px) {
      flex-direction: column;
    }
  }

  &__room-info {
    max-width: 61.2%;

    @media screen and (max-width: 1120px) {
      max-width: 100%;
    }
  }

  &__details-container {
    @media screen and (max-width: 660px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .room-details {
      &:first-of-type {
        padding-top: 10px;
      }

      &:last-child {
        border: none;
        padding-bottom: 18px;
      }
    }

    &_size_s {
      max-width: 300px;

      @media screen and (max-width: 660px) {
        margin-bottom: 20px;
      }
    }
  }

  &__top-info-section {
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 1120px) {
      margin-left: 5%;
      flex-direction: column;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 850px) {
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 0;
      margin-left: 0;
    }

    @media screen and (max-width: 660px) {
      flex-direction: column;
    }
  }

  &__impressions-diagram {
    width: 50%;
    min-width: 240px;
    box-sizing: border-box;
    margin-left: 11.3%;

    @media screen and (max-width: 1120px) {
      margin-left: 0;
    }

    @media screen and (max-width: 660px) {
      margin: 0 auto 30px;
    }
  }

  &__details-title {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    margin-bottom: 6px;

    &_paddings_left-and-bottom {
      padding-left: 20px;
      padding-bottom: 8px;

      @media screen and (max-width: 660px) {
        text-align: center;
        padding-left: 0;
      }
    }

    &_cancel {
      padding-bottom: 8px;

      @media screen and (max-width: 660px) {
        text-align: center;
      }
    }
  }

  &__guest-review-container {
    width: 100%;
    padding: 11px 0;
  }

  &__reviews-count {
    color: rgba(31, 32, 65, 0.5);
  }

  &__reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__bottom-info-section {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1120px) {
      justify-content: space-evenly;
    }

    @media screen and (max-width: 660px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__cancel-text {
    max-width: 345px;
  }

  &__rate-card-container {
    width: 100%;
    max-width: 380px;
    padding-top: 15px;

    @media screen and (max-width: 1120px) {
      position: absolute;
      right: 5%;
      padding-right: 20px;
    }

    @media screen and (max-width: 850px) {
      position: static;
      margin: 30px auto 0;
    }
  }
}
