@import '@/scss/mixins';
@import '@/common.blocks/dropdown-header/dropdown-header';
@import '@/common.blocks/drop-menu/drop-menu';
@import '@/common.blocks/button/button';

.guests-dropdown {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;

  &__title {
    @include h3;
    margin-bottom: 5px;
  }
}
