include ../dropdown/dropdown.pug

mixin guests-dropdown({ title = 'dropdown' } = {})
  .js-guests-dropdown
    +dropdown({ title, isButtons: true, placeholder: 'Сколько гостей', options: ['взрослые', 'дети', 'младенцы'] })