include ../button/button.pug

mixin guests-dropdown({ title } = {})
  - let options = ['взрослые', 'дети', 'младенцы'];

  .guests-dropdown.js-guests-dropdown
    input.guests-dropdown__check.js-guests-dropdown__check(type="checkbox")
    
    h3.guests-dropdown__title !{title}
    label(class='guests-dropdown__header js-guests-dropdown__header')
      .guests-dropdown__header-text.js-guests-dropdown__header-text Сколько гостей
      i.guests-dropdown__expand-more keyboard_arrow_down

    .guests-dropdown__drop-menu.js-guests-dropdown__drop-menu
      each val in options
        .guests-dropdown__option
          .guests-dropdown__option-title !{val}
          .guests-dropdown__quantity-selection
            button.guests-dropdown__quantity-button.guests-dropdown__quantity-button_subtract.js-guests-dropdown__quantity-button(
              type='button' disabled
            ) -
            .guests-dropdown__quantity-number.js-guests-dropdown__quantity-number 0
            button.guests-dropdown__quantity-button.guests-dropdown__quantity-button_add.js-guests-dropdown__quantity-button(
              type='button'
            ) +

      .guests-dropdown__bottom-buttons-panel
        .guests-dropdown__button-clear.guests-dropdown__button-clear_hidden.js-guests-dropdown__button-clear
          +button({type: 'onlyText', text: 'очистить'})
        .js-guests-dropdown__button-apply
          +button({type: 'onlyText', text: 'применить'})
