include ../dropdown-header/dropdown-header.pug
include ../drop-menu/drop-menu.pug
include ../button/button.pug

mixin guests-dropdown({ title = 'dropdown' } = {})
  .guests-dropdown.js-guests-dropdown
    .guests-dropdown__title !{title}
    +dropdown-header({ placeholder: 'Сколько гостей' })
    +drop-menu({ options: ['взрослые', 'дети', 'младенцы'], isButtons: true })