extends ../layout-for-pages/layout-for-pages

block includes
  include ../../common.blocks/dropdown/dropdown.pug
  include ../../common.blocks/range-slider/range-slider.pug
  include ../../common.blocks/checkbox-button/checkbox-button.pug
  include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../common.blocks/room-card/room-card.pug
  include ../../common.blocks/pagination/pagination.pug

block title
  | Search Room

block content
  .search-room
    .search-room__content
      aside.search-room__sidebar
        label.search-room__filter(for="search-room__filter-check")
          h3.search-room__section-title Дополнительные опции для поиска номера
          i.material-icons.search-room__filter-expand-more keyboard_arrow_down
        input#search-room__filter-check.search-room__filter-check(
          type="checkbox"
        )
        .search-room__filter-options
          .search-room__option-column-one
            .search-room__filter-date-container
              +dropdown(config.filterDateDropdown)
            .search-room__guests-dropdown-container
              +dropdown(config.guestsDropdown)
            .search-room__range-slider-container
              +range-slider(config.rangeSlider)
              span.search-room__range-slider-remark Стоимость за сутки пребывания в номере
            .search-room__checkbox-container
              h3.search-room__section-title Правила дома
              each checkbox in config.rulesCheckboxes
                .search-room__checkbox-wrapper
                  +checkbox-button(checkbox)
          .search-room__option-column-two
            .search-room__rich-checkbox-container
              h3.search-room__section-title Доступность
              each checkbox in config.availabilityCheckboxes
                +checkbox-button(checkbox)
            .search-room__comfort-dropdown-container
              +dropdown(config.comfortDropdown)
            .search-room__expandable-checkbox-list-container
              +expandable-checkbox-list(config.expandableCheckboxList)
      .search-room__rooms-section
        h1.search-room__rooms-title Номера, которые мы для вас подобрали
        .search-room__rooms
          each roomCard in config.roomCards
            .search-room__room-card-container
              +room-card(roomCard)
        .search-room__pagination-container
          +pagination(config.pagination)
