.number-card__arrow-button {
  transition: opacity 0.5s ease-in;
  opacity: 0;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 3;
  padding: 0;
  margin: 0;
  line-height: 0;
  width: 42px;
  height: 100%;
  border: none;
  color: white;
  background: none;
  &:active,
  &:focus {
    outline: none;
  }
}
