extends ../layout-for-pages/layout-for-pages

block includs
    include ../../common.blocks/entry-card/entry-card.pug
    

block title
    | Signin Page

block content
    .signin
        .signin__background.signin__background_first
        .signin__background.signin__background_second
        .signin__content-container
            .signin__card-container
                +entry-card(config.signinPage)