mixin bullet-list( {menuItems, theme} = {})
  .bullet-list
    ul.bullet-list__unordered-list
      each item in menuItems
        - let itemClass = 'bullet-list__item';
        if (theme === undefined)
          - itemClass += ' bullet-list__item_theme_default';
        li(class=itemClass) !{item}
