.dropdown__quantity-button {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.28rem;
  color: rgba(31, 32, 65, 0.5);
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 15px;
  background: #ffffff;
  transition: 0.5s;
  &:focus {
    outline: none;
  }
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
  }
  &:active {
    transition: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.5);
  }
  &:disabled {
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
  }
}
