.impressions-diagram__votes-text {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}
