mixin set_checkbox-button()
    .checkbox-button
        input(class='checkbox-button__checkbox-element' type='checkbox' id='checkbox1')
        div(class='checkbox-button__checkbox-custom-element')
            i(class='material-icons checkbox-button__checked-element') done
        label(class='checkbox-button__label', for='checkbox1') Можно курить