mixin set_type-sample(type_sample_margin, tag, type, text)
    - var text_font = ''

    if tag == 'h1' || tag == 'h2'
        - var text_font = 'text-block__text_quicksand-font'


    div(class='type-sample_flex type-sample_margin-' + type_sample_margin)
        div(class='type-sample__tag-block_position tag-block_style')
            #{tag}(class='tag-block__tag_margin-0 tag-block__tag_h-weight') !{type}
        div(class='type-sample__text-block_position text-block_padding-left')
            #{tag}(class='text-block__text_margin-0 ' + text_font) !{text}