.pagination {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.pagination__pages {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination__button {
    width: 100%;
    max-width: 40px;
    min-width: 30px;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    color: rgba(31, 32, 65, 0.5);
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.pagination__button_with-number a:hover {
    opacity: .5;
}



.pagination__button_with-arrow {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    transition: .5s ease;
    &:hover {
        opacity: .5;
    }
}

.pagination__arrow {
    font-size: 1.71rem;
    color: white;
}

.pagination__signature {
    display: inline-block;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.75);
    text-align: center;
}

.pagination__signature_position {
    margin-top: 10px;
}

.pagination__link {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    width: 100%;
    max-width: 40px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    cursor: default;
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.pagination__button_active-page {
    font-weight: bold;
    color: white;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}