.checkbox-button__label {
  display: block;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  transition: color 0.5s ease;
  &:hover {
    color: rgba(31, 32, 65, 0.75);
  }
  &:before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    position: absolute;
    left: 0;
    top: -1px;
    border-radius: 4px;
    transition: border-color 0.5s ease;
  }
  &:hover::before {
    border-color: #bc9cff;
  }
  &:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 4px;
    width: 4px;
    height: 6px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transition: 0.2s ease;
    transform: rotate(45deg) scale(0.1);
    border-image-source: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-image-slice: 1;
  }
}
