include ../rate-button/rate-button.pug

mixin numberCard(args)
    - var dot = 0
    - var dots = args.images.length

    .number-card
        .number-card__slider-section
            <ul class="number-card__slider-list">
                each img, index in args.images
                    <li class="number-card__slider-list-item"><img class='number-card__slider-image' src=!{img} alt="room-image"></li>
            </ul>
            button(class='number-card__prevButton number-card__arrow-button')
                i(class="material-icons") keyboard_arrow_left
            button(class='number-card__nextButton number-card__arrow-button')
                i(class="material-icons") keyboard_arrow_right
            .number-card__slider-dots
                while dot < dots
                    .number-card__dot
                    - dot += 1
        .number-card__room-info
            .number-card__number-section
                .number-card__room-number
                    span(class='number-card__number') №
                    |   #[span(class='number-card__number number-card__number_size19') !{args.roomNumber}]
                    if args.lux
                        |    #[span(class='number-card__lux') ЛЮКС]
                .number-card__room-rate 
                    span(class='number-card__accented-text') !{args.roomRate.toLocaleString('ru-RU')}&#8381 
                    span в сутки
            .number-card__separator
            .number-card__rating-section
                +rateButton(args.rating)
                .number-card__rating
                    span(class='number-card__accented-text') !{args.reviewsNumber} 
                    span Отзывов
