include ../dropdown-header/dropdown-header.pug
include ../drop-menu/drop-menu.pug

mixin filter-date-dropdown({ title = 'dropdown' } = {})
  .filter-date-dropdown.js-filter-date-dropdown
    .filter-date-dropdown__title !{title}
    +dropdown-header({ placeholder: 'Выберите период' })
    +drop-menu({ type: 'calendar', calendarModifiers: ['without-top-border'], modifiers: ['no-paddings', 'no-borders'] })