.registration {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  box-sizing: border-box;
}

.registration-page__background_first {
  background: url('../../assets/images/registration-sign-in-background-1.png');
  animation: registration-animation-1 40s infinite;
}

.registration-page__background_second {
  background: url('../../assets/images/registration-sign-in-background-2.png');
  animation: registration-animation-2 40s infinite;
}

.registration__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.registration__body-content {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 1160px;
  padding: 20px 0;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration__card-container {
  width: 380px;
  margin: 0 10px;
}

@keyframes registration-animation-1 {
  0% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes registration-animation-2 {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
