@import '../../scss/mixins';
@import '../../scss/animations';

.site-container {
  @include site-container;
}

.content-section {
  @include content-section;
}

article {
  @include article;
}

.registration {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  box-sizing: border-box;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;

    &_image-one {
      background: url('../../assets/images/registration-sign-in-background-1.png');
      animation: background-first-image 40s infinite;
      @include background-position;
    }

    &_image-two {
      background: url('../../assets/images/registration-sign-in-background-2.png');
      animation: background-second-image 40s infinite;
      @include background-position;
    }
  }

  &__body-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: 1160px;
    padding: 20px 0;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card-container {
    width: 380px;
    margin: 0 10px;
  }
}
