include ../button/button.pug

mixin calendar()
    - const WEEK_DAYS = 7
    - let maxDaysCount = 31
    - let weeksCount = 5
    - let week = 1    
    - let dayNumber = 28
    - let calendarDayNumberClass = 'calendar__day  calendar__day-number_other-month'
    - let currentDay = 6
    - let isPrevMonth = true



    div(class='calendar ' + attributes.class)
        .calendar__month-selection-section
            i(class='material-icons calendar__month-button calendar__prev-month') arrow_back
            span(class='calendar__month') Сентябрь 1989
            i(class='material-icons calendar__month-button calendar__next-month') arrow_forward
        .calendar__days
            .calendar__names-of-week-days
                for day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
                    span(class='calendar__calendar-element calendar__week-day-name') !{day}

            while week <= weeksCount
                .calendar__week
                    - let weekDay = 1

                    while weekDay <= WEEK_DAYS
                        if isPrevMonth && dayNumber > maxDaysCount
                            - maxDaysCount = 30
                            - dayNumber = 1
                            - isPrevMonth = false
                            - calendarDayNumberClass = 'calendar__calendar-element calendar__day calendar__day-number_current-month'
                        if dayNumber == currentDay
                            - calendarDayNumberClass = ' calendar__calendar-element calendar__day calendar__day-number_current-month calendar__current-day'
                        if !isPrevMonth && dayNumber > maxDaysCount
                            - dayNumber = 1
                            - calendarDayNumberClass = 'calendar__calendar-element calendar__day  calendar__day-number_other-month'

                        span(class=calendarDayNumberClass) !{dayNumber}

                        if dayNumber == currentDay
                            - calendarDayNumberClass = 'calendar__calendar-element calendar__day calendar__day-number_current-month'

                        - dayNumber += 1
                        - weekDay += 1
                - week += 1

        .calendar__buttons-panel
            .calendar__button-clear
                +button('onlyTextButton', 'очистить', 'gray')(class='calendar__button_clear')
            .calendar__button-apply
                +button('onlyTextButton', 'применить')(class='calendar__button_apply')