mixin button(args)
    - let button_class = 'button'

    if args.type === 'border'
        - button_class += ' button_with-border'
    else if args.type === 'onlyText'
        - button_class += ' button_only-text'
        if args.theme === 'gray'
            - button_class += ' button_only-text_gray'
    else if args.type == 'arrow'
        - button_class += ' button_with-arrow'
    else
        - button_class += ' button_regular'
    
    if args.theme === 'paddings10'
        - button_class += ' button_with-vertical-paddings-10'
    if args.theme === 'paddings8'
        - button_class += ' button_with-vertical-paddings-8'

    button(type="button", value=args.text, class=button_class) !{args.text}
        if args.type == 'arrow'
            i(class='material-icons button__arrow') arrow_forward