mixin button({ type, text = 'click me', isDisabled = false, theme, size } = {})
  - let button_class = 'button';

  if type === 'border'
    - button_class += ' button_with-border';
  else if type === 'onlyText'
    - button_class += ' button_only-text';
  else if type == 'arrow'
    - button_class += ' button_with-arrow';
  else
    - button_class += ' button_regular';

  if size === 'small'
    - button_class += ' button_size_small';

  button(type="button", value=text, disabled=isDisabled, class=button_class) !{text}
    if type == 'arrow'
      i.button__arrow arrow_forward
