mixin button(args)
  - let button_class = 'button';

  if args.type === 'border'
    - button_class += ' button_with-border';
  else if args.type === 'onlyText'
    - button_class += ' button_only-text';
    if args.theme === 'gray'
      - button_class += ' button_only-text_theme_gray';
    else
      - button_class += ' button_only-text_theme_purple';
  else if args.type == 'arrow'
    - button_class += ' button_with-arrow';
  else
    - button_class += ' button_regular';

  if args.theme === 'paddingsL'
    - button_class += ' button_paddings_l';
  if args.theme === 'paddingsS'
    - button_class += ' button_paddings_s';

  button(type="button", value=args.text, class=button_class) !{args.text}
    if args.type == 'arrow'
      i.material-icons.button__arrow arrow_forward
