mixin button( {type, theme, text} = {} )
  - let button_class = 'button';

  if type === undefined
    - type = 'regular'

  if theme === undefined
    - theme = ''

  if text === undefined
    - text = 'Button'

  if type === 'border'
    - button_class += ' button_with-border';
  else if type === 'onlyText'
    - button_class += ' button_only-text';
    if theme === 'gray'
      - button_class += ' button_only-text_theme_gray';
    else
      - button_class += ' button_only-text_theme_purple';
  else if type == 'arrow'
    - button_class += ' button_with-arrow';
  else
    - button_class += ' button_regular';

  if theme === 'paddingsL'
    - button_class += ' button_paddings_l';
  if theme === 'paddingsS'
    - button_class += ' button_paddings_s';

  button(type="button", value=text, class=button_class) !{text}
    if type == 'arrow'
      i.material-icons.button__arrow arrow_forward
