include ../dropdown/dropdown.pug
include ../button/button.pug

mixin search-room-card()
    .search-room-card
        h1(class='search-room-card__title search-room-card__title_margins') Найдём номера под ваши пожелания
        .search-room-card__dropdown
            +dropdown({type: 'date', id: 'searchRoomDateDrop', title: 'прибытие', title2: 'выезд'})
        .search-room-card__dropdown
            +dropdown({type: 'guests', id: 'searchRoomGuestsDrop', title: 'гости'})
        .search-room-card__button
            +button({type: 'arrow', text: 'подобрать номер'})