include ../date-dropdown/date-dropdown.pug
include ../guests-dropdown/guests-dropdown.pug
include ../button/button.pug

mixin search-room-card({ title = 'Найдём номера под ваши пожелания', blocks } = {})
  -
    const classes = {
      date: 'search-room-card__dropdown',
      guests: 'search-room-card__dropdown',
      button: 'search-room-card__button'
    }

  .search-room-card
    form
      h1.search-room-card__title !{title}

      each block in blocks
        div(class=classes[block.blockType])
          if block.blockType === 'date'
            +date-dropdown(block)
          if block.blockType === 'guests'
            +guests-dropdown(block)
          if block.blockType === 'button'
            +button(block)
