mixin navbar({ items, vertical = false } = {})
  - let navbarClass = 'navbar js-navbar'
  - navbarClass += vertical ? ' navbar_theme_vertical js-navbar_theme_vertical' : ''

  nav(class=navbarClass)
    ul(class='navbar__list js-navbar__list')
    
      each item in items
        if item.items
          li(class='navbar__item js-navbar__item')
            input(type="checkbox" class='navbar__hidden-list-switch')
            div(class='navbar__dropdown-title js-navbar__dropdown-title')
              span !{item.title}
              i.navbar__expand-more-button expand_more
            ul(class='navbar__hidden-list')
              each hiddenItem in item.items
                li(class='navbar__hidden-list-item') !{hiddenItem}
        else
          li(class='navbar__item js-navbar__item') !{item}
          
      li(class='navbar__item js-navbar__item navbar__item_type_separator js-navbar__item_type_separator')
        div(class='navbar__separator')
      li(class='navbar__item js-navbar__item navbar__item_type_name js-navbar__item_type_name') Виталий Бакалов
      li(class='navbar__item js-navbar__item')
        .navbar__button-entry-container.js-navbar__button-entry-container
          +button({ link: './sign-in-page.html', text: 'войти', theme: 'bordered', size: 'small' })
      li(class='navbar__item js-navbar__item')
        .navbar__button-registration-container.js-navbar__button-registration-container
          +button({ link: './registration-page.html', text: 'зарегистрироваться', theme: 'filled', size: 'small' })
