mixin navbar({ items, vertical = false } = {})
  - let navbarClass = 'navbar js-navbar'
  - navbarClass += vertical ? ' navbar_vertical js-navbar_vertical' : ''

  nav(class=navbarClass)
    ul(class='navbar__list js-navbar__list')
    
      each item in items
        if item.items
          li(class='navbar__item js-navbar__item')
            input(type="checkbox" class='navbar__hidden-list-switch')
            div(class='navbar__dropdown-title js-navbar__dropdown-title')
              span !{item.title}
              i.navbar__expand-more-button expand_more
            ul(class='navbar__hidden-list')
              each hiddenItem in item.items
                li(class='navbar__hidden-list-item') !{hiddenItem}
        else
          li(class='navbar__item js-navbar__item') !{item}
          
      li(class='navbar__item js-navbar__item navbar__item_with-separator js-navbar__item_with-separator')
        div(class='navbar__separator')
      li(class='navbar__item js-navbar__item navbar__item_with-name js-navbar__item_with-name') Виталий Бакалов
      li(class='navbar__item js-navbar__item')
        .js-navbar__button-entry-container
          +button({type: 'border', text: 'войти', theme: 'paddingsS'})
      li(class='navbar__item js-navbar__item')
        .js-navbar__button-registration-container
          +button({text: 'зарегистрироваться', theme: 'paddingsL'})
