mixin like-button(like_count=0, checked=false)
    if checked
        - var checkedClass = 'like-button_checked'
        - var icon = 'favorite'
    else
        - var checkedClass = 'like-button_unchecked'
        - var icon = 'favorite_border'

    div(class='like-button ' + checkedClass)
        i(class='material-icons like-button__heart') !{icon}
        .like-button__like-counter !{like_count}