mixin like-button({ isChecked, likesCount = 0 } = {})
  - let buttonClass = 'like-button js-like-button'
  - const icon = isChecked ? 'favorite' :'favorite_border';

  - buttonClass += isChecked ? ' like-button_checked' : '';

  div(class=buttonClass)
    i.like-button__heart.js-like-button__heart !{icon}
    .like-button__like-counter.js-like-button__like-counter !{likesCount}
