mixin like-button(args)
    - let checkedClass = 'like-button_unchecked'
    - let icon = 'favorite_border'
    if args.checked
        - checkedClass = 'like-button_checked'
        - icon = 'favorite'        

    div(class='like-button ' + checkedClass)
        i(class='material-icons like-button__heart') !{icon}
        .like-button__like-counter !{args.likesCount}