include ../dropdown/dropdown.pug
include ../button/button.pug

mixin searchRoomCard()
    .search-room-card
        h1(class='search-room-card__title search-room-card__title_margins') Найдём номера под ваши пожелания
        .search-room-card__dropdown
            +dropdown('date', 'searchRoomDateDrop', 'прибытие', 'выезд')
        .search-room-card__dropdown
            +dropdown('guests', 'searchRoomGuestsDrop', 'гости')
        .search-room-card__button
            +button({type: 'arrow', text: 'подобрать номер'})