mixin impressions-diagram( {magnificently, good, satisfactorily, disappointed} = {} )

  if magnificently === undefined
    - magnificently = 0

  if good === undefined
    - good = 0

  if satisfactorily === undefined
    - satisfactorily = 0

  if disappointed === undefined
    - disappointed = 0

  - let diagramLegendItemClass = 'impressions-diagram__legend-item impressions-diagram__legend-item_color'


  .impressions-diagram
    .impressions-diagram__diagram-section
      canvas.impressions-diagram__diagram(width=120, height=120)
      .impressions-diagram__votes-counter
        .impressions-diagram__votes-number 0
        .impressions-diagram__votes-text голосов

    .impressions-diagram__diagram-legend
      div(class = diagramLegendItemClass + "_yellow") Великолепно
      div(class = diagramLegendItemClass + "_green") Хорошо
      div(class = diagramLegendItemClass + "_purple") Удовлетворительно
      div(class = diagramLegendItemClass + "_brown") Разочарован
  script.
    document.cookie = 'magnificently=' + !{magnificently}
    document.cookie = 'good=' + !{good}
    document.cookie = 'satisfactorily=' + !{satisfactorily}
    document.cookie = 'disappointed=' + !{disappointed}
