mixin impressions-diagram( {magnificently, good, satisfactorily, disappointed} = {} )

  if magnificently === undefined
    - magnificently = 0

  if good === undefined
    - good = 0

  if satisfactorily === undefined
    - satisfactorily = 0

  if disappointed === undefined
    - disappointed = 0


  .impressions-diagram
    .impressions-diagram__diagram-section
      canvas.impressions-diagram__diagram(width=120, height=120)
      .impressions-diagram__votes-counter
        .impressions-diagram__votes-number 0
        .impressions-diagram__votes-text голосов

    .impressions-diagram__diagram-legend
      .impressions-diagram__legend-item.impressions-diagram__legend-item_color_yellow Великолепно
      .impressions-diagram__legend-item.impressions-diagram__legend-item_color_green Хорошо
      .impressions-diagram__legend-item.impressions-diagram__legend-item_color_purple Удовлетворительно
      .impressions-diagram__legend-item.impressions-diagram__legend-item_color_brown Разочарован
  script.
    document.cookie = 'magnificently=' + !{magnificently}
    document.cookie = 'good=' + !{good}
    document.cookie = 'satisfactorily=' + !{satisfactorily}
    document.cookie = 'disappointed=' + !{disappointed}
