mixin dropdown-header({ placeholder = '', isStraightBottom = false })
  - let headerClass = 'dropdown-header js-dropdown-header'
  - headerClass += isStraightBottom ? ' dropdown-header_theme_straight-bottom' : ''

  div( class=headerClass )
    .dropdown-header__text.js-dropdown-header__text !{placeholder}
    i.dropdown-header__expand-more keyboard_arrow_down