+dropdown-header()
  .dropdown-header.js-dropdown-header
    label(class='dropdown-header__content js-dropdown-header__content')
      .dropdown-header__text.js-dropdown-header__text !{placeholder}
      i.dropdown-header__expand-more keyboard_arrow_down