include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list(args)
    .expandable-checkbox-list
        input(type="checkbox", id=args.id class='expandable-checkbox-list__check')
        label(for=args.id class='expandable-checkbox-list__title-section')
            h3(class='expandable-checkbox-list__title') !{args.title}
            i(class='material-icons expandable-checkbox-list__expand-more') keyboard_arrow_down
        .expandable-checkbox-list__hide-list
            each checkbox in args.checkboxes
                +checkbox-button(checkbox)