include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list( {id, title, checkboxes} = {} )

  if id === undefined
    - id = 'check-list' + Math.random() * (9999 - 0) + 0
  
  if title === undefined
    - title = 'check-list'
  
  if checkboxes === undefined
    - checkboxes = []

  .expandable-checkbox-list
    input.expandable-checkbox-list__check(type="checkbox", id=id)
    label.expandable-checkbox-list__title-section(for=id)
      h3.expandable-checkbox-list__title !{title}
      i.material-icons.expandable-checkbox-list__expand-more keyboard_arrow_down
    .expandable-checkbox-list__hide-list
      each checkbox in checkboxes
        .expandable-checkbox-list__checkbox-container
          +checkbox-button(checkbox)
