include ../drop-menu/drop-menu

mixin expandable-checkbox-list({ title, checkboxes } = {})  
  .expandable-checkbox-list.js-expandable-checkbox-list
    +dropdown-header({ placeholder: title, theme: 'bold-title' })
    +drop-menu({ type: 'checkbox-list', options: checkboxes })
