include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list( {id, title, checkboxes} = {} )
  .expandable-checkbox-list
    input.expandable-checkbox-list__check(type="checkbox", id=id)
    label.expandable-checkbox-list__title-section(for=id)
      h3.expandable-checkbox-list__title !{title}
      i.material-icons.expandable-checkbox-list__expand-more keyboard_arrow_down
    .expandable-checkbox-list__hide-list
      each checkbox in checkboxes
        +checkbox-button(checkbox)
