@import '../../../scss/vars.scss';

.rate-button {
    line-height: 0;
}

.rate-button__star {
    font-size: 24px;
    background: linear-gradient(180deg, $purple 0%, $blue 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}