mixin room-details(args)
    .room-details
        i(class='material-icons room-details__icon') !{args.icon}
        .room-details__text
            .room-details__title !{args.title}
            .room-details__description !{args.description}