mixin room-details({ icon = '', title = 'Комфорт', description = '' } = {})
  .room-details
    i.room-details__icon !{icon}
    .room-details__text
      .room-details__title !{title}
      .room-details__description !{description}
