include ../modules/color-block/color-block.pug
include ../modules/type-block/type-block.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
    body
        .central-container
            h1(class="section-title") Colors & Type
            .colors-and-type
                .colors-and-type__colors
                    each color in ['Dark Shade 100%', 'Dark Shade 75%', 'Dark Shade 50%', 'Dark Shade 25%', 'Dark Shade 5%', 'Purple', 'Green']
                        +set_color-block(color)
                .colors-and-type__type
                    +set_type-sample('bottom', 'h1', 'H1', 'This one is the sub-section or widget title')
                    +set_type-sample('bottom', 'h2', 'H2', 'Next one is the item title inside widgets')
                    +set_type-sample('bottom', 'h3', 'H3', 'THIS IS A LABEL OR CTA TEXT')
                    +set_type-sample('0', 'p', 'Body', 'This is the body text which is used for most ' 
                        + 'of&nbsp;the design, like paragraphs, lists, etc.')