include ../modules/color-block/color-block.pug
include ../modules/type-block/type-block.pug
include ../modules/text-field/text-field.pug
include ../modules/dropdown/dropdown.pug
include ../modules/expandable-checkbox-list/expandable-checkbox-list.pug
include ../modules/room-details/room-details.pug
include ../modules/checkbox-button/checkbox-button.pug
include ../modules/radio-button/radio-button.pug
include ../modules/toggle/toggle.pug
include ../modules/like-button/like-button.pug
include ../modules/rate-button/rate-button.pug
include ../modules/range-slider/range-slider.pug
include ../modules/button/button.pug
include ../modules/pagination/pagination.pug
include ../modules/bullet-list/bullet-list.pug
include ../modules/guest-review/guest-review.pug
include ../modules/calendar/calendar.pug
include ../modules/numberCard/numberCard.pug
include ../modules/searchRoomCard/searchRoomCard.pug
include ../modules/registrationCard/registrationCard.pug
include ../modules/entryCard/entryCard.pug
include ../modules/roomRateCard/roomRateCard.pug
include ../modules/header/header.pug
include ../modules/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
    body
        .central-container

            //- COLORS AND TYPE
            h1(class="section-title") Colors & Type
            .section-block
                .colors-and-type
                    .colors-and-type__colors
                        each color in ['Dark Shade 100%', 'Dark Shade 75%', 'Dark Shade 50%', 'Dark Shade 25%', 'Dark Shade 5%', 'Purple', 'Green']
                            +color-block(color)
                    .colors-and-type__type
                        - var r = [['h1', 'This one is the sub-section or widget title'], ['h2', 'Next one is the item title inside widgets'], ['h3', 'THIS IS A LABEL OR CTA TEXT'], ['span', 'This is the body text which is used for most of&nbsp;the design, like paragraphs, lists, etc.']]
                        each blockType in r
                            +type-block(blockType[0], blockType[1])
            
            //- Form Elements
            h1(class="section-title") Form Elements
            .section-block
                .form-elements
                    .form-elements__three-column-layout
                        .form-elements__column
                            .module
                                h3(class='module__title') Text Field
                                +text_field()
                            .module
                                +dropdown('guests', 'uiDrop', 'dropdown')
                            .module
                                h3(class='module__title') masked text field
                                +text_field('Email', 'masked')
                            .module
                                +dropdown('date', 'uiDateDrop', 'date Dropdown', 'date Dropdown')
                            div(class='module module_width266')
                                .module
                                    +dropdown('filter_date', 'uiFilterDateDrop', 'filter date dropdown')
                                .module
                                    h3(class='module__title') subscription text field
                                    +text_field('Email', 'subscription')
                                .module
                                    +dropdown('comfort', 'uiComfortDrop', 'dropdown')
                                .module
                                    +expandable-checkbox-list([['Завтрак', 'breakfast'], ['Письменный стол', 'desk', true], ['Стул для кормления', 
                                    'feedingChair', true], ['Кроватка', 'crib', true], ['Телевизор', 'tv'], ['Шампунь', 'shampoo']], 'expandable checkbox list')
                        .form-elements__column
                            .module
                                h3(class='module__title') Checkbox Buttons
                                +checkboxButton('Можно курить', 'noSmoking')
                                +checkboxButton('Можно с питомцами', 'pets', true)
                                +checkboxButton('Можно пригласить гостей (до 10 человек)', 'guests', true)
                            .module
                                h3(class='module-title') Radio Buttons
                                +radioButton([['radio1', 'radio', 'male', 'Мужчина', true], ['radio2', 'radio', 'female', 'Женщина']])
                            .module
                                h3(class='module-title') toggle
                                +toggle('Получать спецпредложения', 'specialOffers', 'specialOffers')
                            .module
                                h3(class='module-title') like button
                                .likeButtonSection
                                    +likeButton(2)
                                    +likeButton(12, true)
                            .module
                                h3(class='module-title') rate button
                                .rateButtonSection
                                    +rateButton(4)
                                    +rateButton(5)
                            .module
                                h3(class='module-title') RICH CHECKBOX BUTTONS
                                +checkboxButton('Широкий коридор', 'wideCorridor', false, true, 'Ширина коридоров в номере не&nbsp;менее 91 см.')
                                +checkboxButton('Помощник для инвалидов', 'disabledAssistant', false, true, 'На 1 этаже вас встретит специалист и&nbsp;проводит до номера.')
                        .form-elements__column.form-elements__column-3
                            .module
                                +rangeSlider('Range Slider')
                            .buttons-block
                                h3(class='module__title') Buttons
                                .module
                                    +button()
                                .module
                                    +button('borderButton')
                                .module.module-2-buttons
                                    +button('onlyTextButton')
                                    +button('onlyTextButton', 'click me', 'gray')
                                .module
                                    +button('arrowButton', 'перейти к оплате')
                                .module
                                    h3(class='module__title') Pagination
                                    +pagination()
                                .module
                                    h3(class='module__title') bullet list
                                    +bulletList(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а&nbsp;выезд до 12:00'])
                    .form-elements__two-column-layout
                        .form-elements__column.form-elements__column_no-margin
                            .module
                                +roomDetails('insert_emoticon', 'Комфорт', 'Шумопоглащающие стены')
                                +roomDetails('location_city', 'Удобство', 'Окно в каждой из спален')
                        .form-elements__column_100-percent-width
                            .module
                                +guestReview('assets/images/reviewPhoto1.png', 'Мурад Сарафанов', 5, 12, true, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
            h1(class="section-title") Cards
            .section-block
                .cards
                    .cards_column
                        .module
                            +searchRoomCard()
                        .module
                            +registrationCard()
                    .cards_column
                        .module
                            +roomRateCard({'roomNumber': 888, 'lux': true, 'roomRate': 9990, 'serviceCost': -2179, 'additionalServiceCost': 300})
                        .module
                            +entryCard()
                    .cards_column
                        .module.module_calendar
                            +calendar
                        .cards_column-270
                            .module
                                +numberCard({roomNumber: 888, lux: true, roomRate: 9990, rating: 5, reviewsNumber: 145, images: ['assets/images/number1.png', 'assets/images/number6.png', 'assets/images/number10.png', 'assets/images/number7.png']})
                            .module
                                +numberCard({roomNumber: 840, lux: false, roomRate: 9900, rating: 4, reviewsNumber: 65, images: ['assets/images/number2.png', 'assets/images/number12.png', 'assets/images/number8.png', 'assets/images/number3.png']})
            h1(class="section-title") Headers & Footers
        +header()
        +footer()