extends ../layouts/website_page

block includs
    include ../modules/searchRoomCard/searchRoomCard.pug

block title
    | Landing Page

block content
    .landing-page__landing-body
        .landing-page__background.background1
        .landing-page__background.background2
        .landing-page__background.background3
        .landing-page__body-content-container
            .landing-page__search-card-container
                +searchRoomCard()
            .landing-page__body-text Лучшие номера для вашей работы, отдыха и просто вдохновения

block scripts
    include ../../js/landing-page.js