include ../modules/header/header.pug
include ../modules/footer/footer.pug
include ../modules/searchRoomCard/searchRoomCard.pug

+header()
.landing-page__landing-body
    .landing-page__body-content-container
        .landing-page__search-card-container
            +searchRoomCard()
+footer()