.links-wrapper
    ul.links
        li.links__item
            a(class="links__link Lorem" href="https://metalhead89.github.io/fsd_UIkit_webPage/") UI kit
        li.links__item
            a(class="links__link Lorem" href="https://metalhead89.github.io/fsd_landng_page/") Landing page
        li.links__item
            a(class="links__link Lorem" href="https://metalhead89.github.io/fsd_search_room/") Search room
        li.links__item
            a(class="links__link Lorem" href="https://metalhead89.github.io/fsd_room_details_page/") Room details
        li.links__item
            a(class="links__link Lorem" href="https://metalhead89.github.io/fsd_registration_page/") Registration
        li.links__item
            a(class="links__link Lorem" href="https://metalhead89.github.io/fsd_sign-in_page/") Sign in