extends ../layouts/registration_signin_page

block includs
    include ../../common.blocks/registrationCard/registrationCard.pug
    

block title
    | Registration Page

block card
    +registrationCard()