extends ../layouts/registration_signin_page

block includs
    include ../../common.blocks/registration-card/registration-card.pug
    

block title
    | Registration Page

block card
    +registration-card()