extends ../layouts/registration_signin_page

block includs
    include ../modules/registrationCard/registrationCard.pug
    

block title
    | Registration Page

block card
    +registrationCard()
    script
        include ../modules/text-field/text-field.js