extends ../layouts/website_page

block includs

block title
    | Room Details

block content
    .room-details__room-photos
        .room-details__photo1
        .room-details__photo2


block scripts