extends ../layouts/website_page

block includs
    include ../modules/guest-review/guest-review.pug
    include ../modules/room-details/room-details.pug
    include ../modules/bullet-list/bullet-list.pug
    include ../modules/roomRateCard/roomRateCard.pug

block title
    | Room Details

block content
    .room-details__room-photos
        .room-details__main-photo
        .room-details__additional-photos
            .room-details__additional-photo1
            .room-details__additional-photo2
    .room-details__details-section
        .room-details__central-container
            .room-details__room-info
                .room-details__top-info-section
                    .room-details__details-container
                        h1(class='room-details__details-title') Сведения о номере
                        +roomDetails('insert_emoticon', 'Комфорт', 'Шумопоглащающие стены')
                        +roomDetails('location_city', 'Удобство', 'Окно в каждой из спален')
                        +roomDetails('whatshot', 'Уют', 'Номер оснащён камином')
                .room-details__reviews-header
                    h1(class='room-details__details-title') Отзывы посетителей номера
                    .room-details__reviews-count  2 отзыва
                .room-details__guest-review-container
                    +guestReview('assets/images/reviewPhoto1.png', 'Мурад Сарафанов', 5, 12, true, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
                .room-details__guest-review-container
                    +guestReview('assets/images/reviewPhoto2.png', 'Патрисия Стёклышкова', 7, 2, false, 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
                .room-details__bottom-info-section
                    .room-details__details-container.room-details__details-container_bullet-list
                        h1(class='room-details__details-title room-details__details-title_bullet-list') Правила
                        +bulletList(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а&nbsp;выезд до 12:00'])
                    .room-details__details-container
                        h1(class='room-details__details-title room-details__details-title_cancel') Отмена
                        .room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .room-details__rate-card-container
                +roomRateCard({'roomNumber': 888, 'lux': true, 'roomRate': 9990, 'serviceCost': -2179, 'additionalServiceCost': 300})
    script
        include ../modules/like-button/like-button.js
        

block scripts
    include ../modules/roomRateCard/roomRateCard.js
    include ../modules/dropdown/dropdown.js
    include ../modules/calendar/calendar.js