extends ../layouts/website_page

block includs

block title
    | Room Details

block content
    .room-details__room-photos
        .room-details__main-photo
        .room-details__additional-photos
            .room-details__additional-photo1
            .room-details__additional-photo2


block scripts