extends ../layouts/website_page

block includs
    include ../modules/dropdown/dropdown.pug
    include ../modules/range-slider/range-slider.pug
    include ../modules/checkbox-button/checkbox-button.pug
    include ../modules/expandable-checkbox-list/expandable-checkbox-list.pug
    include ../modules/numberCard/numberCard.pug
    include ../modules/pagination/pagination.pug    

block title
    | Serach Room

block content
    .search-room__body
        .search-room__content
            .search-room__sidebar
                label(class='search-room__filter' for='search-room__filter-check')
                    h3 Дополнительные опции для поиска номера
                    i(class='material-icons search-room__filter-expand-more') keyboard_arrow_down
                input(type='checkbox' id='search-room__filter-check' class='search-room__filter-check')
                .search-room__filter-options
                    .search-room__option-column-one
                        .search-room__filter-date-container
                            +dropdown('filter_date', 'search-room-filer-date', 'даты пребывания в отеле')
                        .search-room__guests-dropdown-container
                            +dropdown('guests', 'search-room-guests', 'гости')
                        .search-room__range-slider-container
                            +rangeSlider()
                            span Стоимость за сутки пребывания в номере
                        .search-room__checkbox-container
                            h3 Checkbox Buttons
                            +checkboxButton('Можно курить', 'noSmoking')
                            +checkboxButton('Можно с питомцами', 'pets', true)
                            +checkboxButton('Можно пригласить гостей (до&nbsp10&nbspчеловек)', 'guests', true)
                    .search-room__option-column-two
                        .search-room__rich-checkbox-container
                            h3 Доступность
                            +checkboxButton('Широкий коридор', 'wideCorridor', false, true, 'Ширина коридоров в номере не&nbsp;менее 91 см.')
                            +checkboxButton('Помощник для инвалидов', 'disabledAssistant', false, true, 'На 1 этаже вас встретит специалист и&nbsp;проводит до номера.')
                        .search-room__comfort-dropdown-container
                            +dropdown('comfort', 'search-room-comfort-drop', 'удобства номера')
                        .search-room__expandable-checkbox-list-container
                            +expandable-checkbox-list([['Завтрак', 'breakfast'], ['Письменный стол', 'desk', true], ['Стул для кормления', 
                                            'feedingChair', true], ['Кроватка', 'crib', true], ['Телевизор', 'tv'], ['Шампунь', 'shampoo']], 'дополнительные удобства')
            .search-room__rooms-section
                h1(class='search-room__rooms-title') Номера, которые мы для вас подобрали
                .search-room__rooms
                    .search-room__number-card-container
                        +numberCard({roomNumber: 888, lux: true, roomRate: 9990, rating: 5, reviewsNumber: 145, images: ['../images/number1.png', '../images/number6.png', '../images/number10.png', '../images/number7.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 840, lux: false, roomRate: 9900, rating: 4, reviewsNumber: 65, images: ['../images/number2.png', '../images/number9.png', '../images/number3.png', '../images/number6.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 980, lux: true, roomRate: 8500, rating: 3, reviewsNumber: 35, images: ['../images/number3.png', '../images/number10.png', '../images/number1.png', '../images/number5.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 856, lux: false, roomRate: 7300, rating: 5, reviewsNumber: 19, images: ['../images/number4.png', '../images/number8.png', '../images/number9.png', '../images/number2.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 740, lux: false, roomRate: 6000, rating: 4, reviewsNumber: 44, images: ['../images/number5.png', '../images/number3.png', '../images/number2.png', '../images/number9.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 982, lux: false, roomRate: 5800, rating: 3, reviewsNumber: 56, images: ['../images/number6.png', '../images/number10.png', '../images/number8.png', '../images/number7.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 678, lux: false, roomRate: 5500, rating: 5, reviewsNumber: 45, images: ['../images/number7.png', '../images/number6.png', '../images/number8.png', '../images/number10.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 450, lux: false, roomRate: 5300, rating: 4, reviewsNumber: 39, images: ['../images/number8.png', '../images/number1.png', '../images/number3.png', '../images/number9.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 350, lux: false, roomRate: 5000, rating: 3, reviewsNumber: 77, images: ['../images/number9.png', '../images/number2.png', '../images/number10.png', '../images/number4.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 666, lux: false, roomRate: 5000, rating: 5, reviewsNumber: 25, images: ['../images/number10.png', '../images/number7.png', '../images/number9.png', '../images/number3.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 444, lux: false, roomRate: 5000, rating: 3, reviewsNumber: 15, images: ['../images/number11.png', '../images/number6.png', '../images/number7.png', '../images/number5.png']})
                    .search-room__number-card-container
                        +numberCard({roomNumber: 352, lux: false, roomRate: 5000, rating: 3, reviewsNumber: 55, images: ['../images/number12.png', '../images/number2.png', '../images/number3.png', '../images/number5.png']})
                .search-room__pagination-container
                    +pagination(15, 1)

    script
        include ../modules/range-slider/range-slider.js
        include ../modules/pagination/pagination.js

block scripts
    include ../modules/dropdown/dropdown.js
    include ../modules/calendar/calendar.js
    include ../modules/numberCard/numberCard.js