include ../../common.blocks/color-block/color-block.pug
include ../modules/type-block/type-block.pug
include ../modules/text-field/text-field.pug
include ../../common.blocks/dropdown/dropdown.pug
include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../modules/room-details/room-details.pug
include ../../common.blocks/checkbox-button/checkbox-button.pug
include ../modules/radio-button/radio-button.pug
include ../modules/toggle/toggle.pug
include ../modules/like-button/like-button.pug
include ../modules/rate-button/rate-button.pug
include ../modules/range-slider/range-slider.pug
include ../../common.blocks/button/button.pug
include ../modules/pagination/pagination.pug
include ../../common.blocks/bullet-list/bullet-list.pug
include ../modules/guest-review/guest-review.pug
include ../../common.blocks/calendar/calendar.pug
include ../modules/numberCard/numberCard.pug
include ../modules/searchRoomCard/searchRoomCard.pug
include ../modules/registrationCard/registrationCard.pug
include ../modules/entryCard/entryCard.pug
include ../modules/roomRateCard/roomRateCard.pug
include ../modules/header/header.pug
include ../../common.blocks/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
    body
        .central-container

            //- COLORS AND TYPE
            h1(class="section-title") Colors & Type
            .section-block
                .colors-and-type
                    .colors-and-type__colors
                        //- each color in colorBloks
                        //-     +color-block(color)
                        +color-block({theme: 'darkShade100', colorName: 'Dark Shade 100%', colorCode: '#1F2041'})
                        +color-block({theme: 'darkShade75', colorName: 'Dark Shade 75%', colorCode: '#1F2041'})
                        +color-block({theme: 'darkShade50', colorName: 'Dark Shade 50%', colorCode: '#1F2041'})
                        +color-block({theme: 'darkShade25', colorName: 'Dark Shade 25%', colorCode: '#1F2041'})
                        +color-block({theme: 'darkShade5', colorName: 'Dark Shade 5%', colorCode: '#1F2041'})
                        +color-block({theme: 'purple', colorName: 'Purple', colorCode: '#BC9CFF'})
                        +color-block({theme: 'green', colorName: 'Green', colorCode: '#6FCF97'})
                    .colors-and-type__type
                        - var r = [['h1', 'This one is the sub-section or widget title'], ['h2', 'Next one is the item title inside widgets'], ['h3', 'THIS IS A LABEL OR CTA TEXT'], ['span', 'This is the body text which is used for most of&nbsp;the design, like paragraphs, lists, etc.']]
                        each blockType in r
                            +type-block(blockType[0], blockType[1])
            
            //- Form Elements
            h1(class="section-title") Form Elements
            .section-block
                .form-elements
                    .form-elements__three-column-layout
                        .form-elements__column.form-elements__column1
                            .module
                                h3(class='module__title') Text Field
                                +text_field()
                            .module
                                +dropdown({type: 'guests', id: 'uiDrop', title: 'dropdown'})
                            .module
                                h3(class='module__title') masked text field
                                +text_field('Email', 'masked')
                            .module
                                +dropdown({type: 'date', id: 'uiDateDrop', title: 'date Dropdown', title2: 'date Dropdown'})
                            div(class='module module_width266')
                                .module
                                    +dropdown({type: 'filter_date', id: 'uiFilterDateDrop', title: 'filter date dropdown'})
                                .module
                                    h3(class='module__title') subscription text field
                                    +text_field('Email', 'subscription')
                                .module
                                    +dropdown({type: 'comfort', id: 'uiComfortDrop', title: 'dropdown'})
                                .module
                                    +expandable-checkbox-list({checkboxes: [{label: 'Завтрак', id: 'breakfast'}, {label: 'Письменный стол', id: 'desk', checked: true}, {label: 'Стул для кормления', 
                                    id: 'feedingChair', checked: true}, {label: 'Кроватка', id: 'crib', checked: true}, {label: 'Телевизор', id: 'tv'}, {label: 'Шампунь', id: 'shampoo'}], title: 'expandable checkbox list', id: 'expandable- checkbox-list'})
                        .form-elements__column.form-elements__column2.form-elements__column_side-paddings
                            .module
                                h3(class='module__title') Checkbox Buttons
                                +checkbox-button({label: 'Можно курить', id: 'noSmoking'})
                                +checkbox-button({label: 'Можно с питомцами', id: 'pets', checked: true})
                                +checkbox-button({label: 'Можно пригласить гостей (до&nbsp10&nbspчеловек)', id: 'guests', checked: true})
                            .module
                                h3(class='module-title') Radio Buttons
                                +radioButton([['radio1', 'radio', 'male', 'Мужчина', true], ['radio2', 'radio', 'female', 'Женщина']])
                            .module
                                h3(class='module-title') toggle
                                +toggle('Получать спецпредложения', 'specialOffers', 'specialOffers')
                            .module
                                h3(class='module-title') like button
                                .likeButtonSection
                                    +likeButton(2)
                                    +likeButton(12, true)
                            .module
                                h3(class='module-title') rate button
                                .rateButtonSection
                                    +rateButton(4)
                                    +rateButton(5)
                            .module
                                h3(class='module-title') RICH CHECKBOX BUTTONS
                                +checkbox-button({label: 'Широкий коридор', id: 'wideCorridor', checked: false, rich: true, text: 'Ширина коридоров в номере не&nbsp;менее 91 см.'})
                                +checkbox-button({label: 'Помощник для инвалидов', id: 'disabledAssistant', checked: false, rich: true, text: 'На 1 этаже вас встретит специалист и&nbsp;проводит до номера.'})
                        .form-elements__column.form-elements__column3
                            .module
                                +rangeSlider('Range Slider')
                            .buttons-block
                                h3(class='module__title') Buttons
                                .module
                                    +button({text: 'click me'})
                                .module
                                    +button({text: 'click me', type: 'border'})
                                .module.module-2-buttons
                                    +button({text: 'click me', type: 'onlyText'})
                                    +button({text: 'click me', type: 'onlyText', theme: 'gray'})
                                .module
                                    +button({text: 'перейти к оплате', type: 'arrow'})
                                .module
                                    h3(class='module__title') Pagination
                                    +pagination()
                                .module.module__bullet-list
                                    h3(class='module__title') bullet list
                                    +bullet-list({
                                        menuItems: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а&nbsp;выезд до 12:00']
                                    })
                    .form-elements__two-column-layout
                        .form-elements__column.form-elements__column_no-margin
                            .module
                                +roomDetails('insert_emoticon', 'Комфорт', 'Шумопоглащающие стены')
                                +roomDetails('location_city', 'Удобство', 'Окно в каждой из спален')
                        .form-elements__column_100-percent-width
                            .module.module__guest-review
                                +guestReview('../images/reviewPhoto1.png', 'Мурад Сарафанов', 5, 12, true, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
            h1(class="section-title") Cards
            .section-block
                .cards
                    .cards_column
                        .module
                            +searchRoomCard()
                        .module
                            +registrationCard()
                    .cards_column
                        .module
                            +roomRateCard({'roomNumber': 888, 'lux': true, 'roomRate': 9990, 'serviceCost': -2179, 'additionalServiceCost': 300})
                        .module
                            +entryCard()
                    .cards_column
                        .module.module_calendar
                            +calendar
                        .cards_column-270
                            .module
                                +numberCard({roomNumber: 888, lux: true, roomRate: 9990, rating: 5, reviewsNumber: 145, images: ['../images/number1.png', '../images/number6.png', '../images/number10.png', '../images/number7.png']})
                            .module
                                +numberCard({roomNumber: 840, lux: false, roomRate: 9900, rating: 4, reviewsNumber: 65, images: ['../images/number2.png', '../images/number12.png', '../images/number8.png', '../images/number3.png']})
            h1(class="section-title") Headers & Footers
        +header()
        +footer()

        script
            include ../modules/text-field/text-field.js
            //- include ../modules/dropdown/dropdown.js
            include ../modules/like-button/like-button.js
            include ../modules/range-slider/range-slider.js
            include ../modules/pagination/pagination.js
            //- include ../modules/calendar/calendar.js
            include ../modules/numberCard/numberCard.js
            include ../modules/roomRateCard/roomRateCard.js
            include ../modules/navbar/navbar.js
            include ../modules/header/header.js