.expandable-checkbox-list__check {
  display: none;
  &:checked ~ .expandable-checkbox-list__hide-list {
    display: block;
  }
  &:checked
    ~ .expandable-checkbox-list__title-section
    .expandable-checkbox-list__expand-more {
    transform: rotate(180deg);
  }
}
