@import '../../../scss/vars.scss';

.text-field {
    position: relative;
    margin-bottom: 10px;
    &:hover .text-field__field{
        border: 1px solid $darkShade50;
        outline: none;
    }
}

.text-field__field {
    width: 100%;
    max-width: 500px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    padding: 13px 15px 12px;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    color: $darkShade75;
    transition: .5s;
    &::placeholder {
        color: $darkShade25;
    }
    &:focus {
        border: 1px solid $darkShade50;
        outline: none;
    }
}

.text-field__field-subscription {
    padding-right: 43px;
}

.text-field__subscription-btn {
    position: absolute;
    transform: translate(-10px, 10px);
    right: 0;
    border: none;
    background: none;
    padding: 0px;
    &:focus {
        outline: none;
    }
}

.text-field__arrow-forward {
    background:-moz-linear-gradient(180deg, $blue50 0%, $purple 80%, $blue 100%);
    background: -webkit-linear-gradient(180deg, $blue50 0%, $purple 80%, $blue 100%);
    background: linear-gradient(180deg, $blue50 0%, $purple 80%, $blue 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;

    transition: .5s;
    background-position: top;
    background-size: 100% 500%;
    background-position: 0 100%;
}

.text-field__subscription-btn:hover .text-field__arrow-forward {
    background-position: 0 0;
}

.text-field__subscription-btn:active .text-field__arrow-forward {
    background: linear-gradient(180deg, $purple 0%, $blue 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}