extends ../pug/layouts/layout-for-pages

block includs
    include ../common.blocks/search-room-card/search-room-card.pug

block title
    | Landing Page

block content
    .landing-page__landing-body
        .landing-page__background.background1
        .landing-page__background.background2
        .landing-page__background.background3
        .landing-page__body-content-container
            .landing-page__search-card-container
                +search-room-card()
            .landing-page__body-text Лучшие номера для вашей работы, отдыха и просто вдохновения