extends layout-for-pages/layout-for-pages

block includs
    include ../common.blocks/entry-card/entry-card.pug
    

block title
    | Registration Page

block content
    .registration-signin-page__body
        .registration-signin-page__background.registration-signin-page__background1
        .registration-signin-page__background.registration-signin-page__background2
        .registration-signin-page__body-content-container
            .registration-signin-page__registration-card-container
                +entry-card({
                    "title": "Войти",
                    "textFieldEmail": { "placeholderText": "Email" },
                    "textFieldPassword": { "placeholderText": "Пароль" },
                    "buttonEntry": { "type": "arrow", "text": "войти" },
                    "accountSectionLabel": "Нет аккаунта на Toxin?",
                    "buttonCreateAccount": { "type": "border", "text": "создать" }
                })