.pagination__link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  display: inline-block;
  width: 100%;
  max-width: 40px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  cursor: default;
  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}
