include ../button/button.pug

mixin header()
    .header
        .header__content
            img(class='header__logo' src='assets/images/logo.svg', alt="logo")
            //- .header__top-menu
            input(type="checkbox", name="header", id="header", class='header__menu-check')
            .header__curtain
            ul(class='header__navbar')
                li(class='header__navbar-item header__navbar-item_active')
                    a О нас
                li(class='header__navbar-item')
                    a(class='header__dropdown-menu')
                        span Услуги 
                        i(class='material-icons') expand_more
                    ul(class='header__nested-list')
                        li(class='header__nested-list-item') Обслуживание номеров
                        li(class='header__nested-list-item') Парковка
                        li(class='header__nested-list-item') Персональный сейф
                        li(class='header__nested-list-item') Интернет
                        li(class='header__nested-list-item') Кабельное телевидние
                        li(class='header__nested-list-item') Питание
                li(class='header__navbar-item')
                    a Вакансии
                li(class='header__navbar-item')
                    a Новости
                li(class='header__navbar-item')
                    a(class='header__dropdown-menu')
                        span Соглашения
                        i(class='material-icons') expand_more
                    ul(class='header__nested-list')
                        li(class='header__nested-list-item')
                            a Правила проживание
                        li(class='header__nested-list-item')
                            a Бонусная программа
                        li(class='header__nested-list-item')
                            a Политика конфиденциальности
                li(class='header__navbar-item')
                    +button('borderButton', 'Войти')(class='header__button-entry')
                li(class='header__navbar-item')
                    +button('regularButton', 'Зарегистрироваться')(class='header__button-registration')
            label(for="header", class='header__burger')