include ../button/button.pug

mixin header()
    .header
        .header__content
            .header__logo
                img(src='assets/images/logo.svg', alt="logo")
            .header__top-menu
                ul(class='header__navbar')
                    li(class='header__navbar-item') О нас
                    li(class='header__navbar-item') Услуги
                    li(class='header__navbar-item') Вакансии
                    li(class='header__navbar-item') Новости
                    li(class='header__navbar-item') Соглашения
                +button('borderButton', 'Войти')(class='header__button-entry header__button-entry_margin-right')
                +button('regularButton', 'Зарегистрироваться')(class='header__button-registration')