@import '../../../scss/vars.scss';

.header {
    width: 100%;
    background: white;
    box-shadow: 0px 10px 20px $darkShade5;
    box-sizing: border-box;
}

.header__content {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    align-items: center;
}

.header__top-menu {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header__navbar-item {
    padding: 0 10px;
    font-family: Montserrat;
    font-size: 14px;
    color: $darkShade50;
}

.header__button-registration {
    width: 196px;
    height: 34px;
}

.header__button-entry {
    width: 87px;
    height: 34px;
}

.header__button-entry_margin-right {
    margin-right: 20px;
}