@import '../../../scss/vars.scss';

.header__curtain {
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $darkShade75;
    z-index: 10;
    transition: all .3s ease-in;
}

.header__menu-check {
    display: none;
    &:checked ~ .header__curtain {
        visibility: visible;
        opacity: 1;
    }
    &:checked ~ .header__navbar {
        transition: transform .5s cubic-bezier(.73,.32,.34,1.5);
        transform: scaleX(1);
    }
    &:checked ~ .header__navbar .header__navbar-item {
        transition: opacity .5s ease-in;
        opacity:1
    }
    &:checked ~ .header__burger .header__burger-image {
        transition: background .2s ease-in;
        background: transparent;
        
        &::after {
            transition: top .2s ease-in, transform .2s ease-in .2s;
            top: 0;
            transform: rotate(45deg);
        }
        &::before {
            transition: top .2s ease-in, transform .2s ease-in .2s;
            top: 0;
            transform: rotate(-45deg);
        }
    }
    &:not(:checked) ~ .header__burger .header__burger-image {
        transition: background .2s ease-in .2s;
        &::after {
            transition: top .2s ease-in .2s, transform .2s ease-in;
        }
        &::before {
            transition: top .2s ease-in .2s, transform .2s ease-in;
        }
    }
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 20px $darkShade5;
    box-sizing: border-box;
    margin-bottom: 1000px;
}

.header__content {
    width: 100%;
    max-width: 1160px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header__logo {
    padding: 15px 0;
}

.header__navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
}

.header__navbar-item {
    white-space: nowrap;
    font-family: 'Montserrat';
    font-size: 14px;
    color: $darkShade50;
    display: flex;
    flex-direction: column;
    cursor: default;
    transition: color .5s ease;
    &:hover {
        color: $darkShade75;
    }
}

.header__navbar-item_active {
    font-weight: bold;
    color: $darkShade75;
}

.header__dropdown-title {
    display: flex;
    flex-direction: row;
    color: $darkShade50;
    text-decoration: none;
}

.header__hidden-list {
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform-origin: top;
}

.header__hidden-list-item {
    color: $darkShade50;
    transition: color .5s ease;
    &:hover {
        color: $darkShade75;
    }
}

.header__button-registration {
    width: 196px;
    height: 34px;
}

.header__button-entry {
    width: 87px;
    height: 34px;
}

.header__button-entry_container {
    box-sizing: border-box;
    padding-right: 2.5%;
    padding-left: 1.2%;;
}

.header__burger{
    display: none;
    position: relative;
    z-index: 11;
}

.header__burger-image {
    position: relative;
    margin: 0;
    width: 30px;
    height: 5px;
    background: #5c5c72ff;
    &::before {
        content: '';
        position: absolute;
        top: -10px;
        display: block;
        width: 30px;
        height: 5px;
        background: #5c5c72ff;
    }
    &::after {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 30px;
        height: 5px;
        background: #5c5c72ff;
    }
}

@media screen and (min-width: 951px){
    .header__navbar {
        height: 100%;        
        flex-direction: row;
        & > .header__navbar-item:first-child {
            padding-left: 0;
        }
        & > .header__navbar-item:last-child {
            padding-right: 0;   
        }
    }

    .header__navbar-item {
        position: relative;
        justify-content: center;
        height: 100%;
        padding: 0 10px;
        &:hover .header__hidden-list {
            transition: transform .4s cubic-bezier(.73,.32,.34,1.5);
            transform: translateY(100%) scaleY(1);
            transform-origin: top;
        }
        &:not(:hover) .header__hidden-list {
            transition: transform .5s;
            transform: translateY(100%) scaleY(0);
        }
    
        &:hover .header__hidden-list-item {
            transition: opacity .3s;
            opacity: 1;
        }
    
        &:not(:hover) .header__hidden-list-item {
            transition: opacity .3s;
        }
    }

    .header__hidden-list {
        position: absolute;   
        left: 0;
        bottom: 0;
        background: white;
        box-shadow: 0px 10px 20px $darkShade5;
        transform: translateY(100%);
        padding: inherit;
    }

    .header__hidden-list-item {
        opacity: 0;
        padding: 5px 0;
    }
}


@media screen and (max-width: 950px){
    .header__navbar {
        font-size: 18px;
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 0;
        z-index: 11;
        height: 100%;
        justify-content: start;
        align-items: flex-start;
        padding: 60px 40px 40px;
        transform: scaleX(0);
        transform-origin: right;
    }

    .header__navbar-item {
        padding: 5px 0;
        align-items: flex-start;
    }

    .header__hidden-list {
        align-items: flex-start;
        overflow: hidden;
        max-height: 0;
        transition: max-height .3s ease-in;
        &:target {
            max-height: 15rem;
        }
        & .header__hidden-list-item:last-child {
            padding-bottom: 0;
        }
    }

    .header__hidden-list-item {
        padding: 5px 0;
        padding-left: 15px;
    }
    
    .header__dropdown-title {
        padding-bottom: 5px;
    }

    .header__burger{
        display: block;
        height: 26px;
        display: flex;
        align-items: center;
    }

    .header__menu-check {
        &:not(:checked) ~ .header__navbar {
            transition: transform .3s ease-in;
            transform: scaleX(0);
        }
        &:not(:checked) ~ .header__navbar .header__navbar-item {
            transition: opacity .2s ease-in;
            opacity:0
        }
    }
}