include ../../../common.blocks/button/button.pug
include ../navbar/navbar.pug

mixin header()
    .header_contaner
        .header
            .header__content
                img(class='header__logo' src='../images/logo.svg', alt="logo")
                input(type="checkbox", name="header", id="header", class='header__menu-check')
                +navbar({type: 'horizontal'})
                label(for="header", class='header__burger')
                    .header__burger-image
        +navbar({type: 'vertical'})