include ../counting-menu/counting-menu
include ../calendar/calendar

mixin drop-menu({ type = 'counter', options = [], isButtons = false } = {})
  .drop-menu.js-drop-menu
    if type === 'counter'
      +counting-menu({ options })
    else if type = 'calendar'
      +calendar()

    if isButtons
      .drop-menu__bottom-buttons-panel
        .drop-menu__button-clear.drop-menu__button-clear_hidden.js-drop-menu__button-clear
          +button({ type: 'onlyText', text: 'очистить' })
        .js-drop-menu__button-apply
          +button({ type: 'onlyText', text: 'применить' })