include ../counting-menu/counting-menu
include ../calendar/calendar

mixin drop-menu({ type = 'counter', options = [], calendarModifiers = [], themes = [], modifiers = [], isButtons = false } = {})
  - let dropMenuStyle = 'drop-menu js-drop-menu';

  - dropMenuStyle += themes.reduce((accumulator, theme) => accumulator + ` drop-menu_theme_${theme}`, '' )
  - dropMenuStyle += modifiers.reduce((accumulator, modifier) => accumulator + ` drop-menu_${modifier}`, '' )

  div( class = dropMenuStyle )
    if type === 'counter'
      +counting-menu({ options })
    else if type = 'calendar'
      +calendar({ modifiers: calendarModifiers })

    if isButtons
      .drop-menu__bottom-buttons-panel
        .drop-menu__button-clear.drop-menu__button-clear_theme_hidden.js-drop-menu__button-clear
          +button({ type: 'onlyText', text: 'очистить' })
        .js-drop-menu__button-apply
          +button({ type: 'onlyText', text: 'применить' })