@import "../../../scss/vars.scss";

.radio-button {
    flex-direction: row;
    display: flex;
    & .radio-button__radio-section {
        margin-left: 20px;
    }
    & .radio-button__radio-section:first-child {
        margin-left: 0px;
    }
}

.radio-button__radio-element {
    display: none;
    &:checked + .radio-button__label {
        color: $darkShade75;
    }
    &:checked + .radio-button__label:before {
        border-color: $purple;
    }
    &:checked + .radio-button__label:after {
        transform: translate(-50%, -50%) scale(1);
        animation: radioJump 0.2s ease;
        visibility: visible;
    }
}

.radio-button__label {
    color: $darkShade50;
    position: relative;
    margin-left: 30px;
    transition: 0.5s ease;
    &:hover {
        color: $darkShade75;
    }
    &:hover::before {
        border-color: $purple;
    }
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid $darkShade25;
        transition: border-color 0.5s ease;
    }
    &:after {
        transition: 0.2s ease;
        content: "";
        transform: translate(-50%, -50%) scale(.1);
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 0;
        left: -20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: linear-gradient(180deg, $purple 0%, $blue 100%);
    }
}

@keyframes radioJump {
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
    }
}
