mixin button(type='regularButton', text='click me', theme='')
    - var buttonPosition = ''
    - var buttonTheme = ''
    if type == 'regularButton'
        - var button_class = 'button__button-shape  button__regular-button'
    else if type == 'borderButton'
        - var button_class = 'button__button-shape  button__border-button'
    else if type == 'onlyTextButton'
        - var button_class = 'button__button-shape  button__only-text-button'
        if theme == 'gray'
            - buttonTheme = 'button__only-text-button_gray_teme'
    else if type == 'arrowButton'
        - var button_class = 'button__button-shape  button__arrow-button'
        - buttonPosition = 'button_position-relative '
    
    div(class='button ' + buttonPosition)
        input(type="button", value=text, class=button_class + ' ' + buttonTheme)
        if type == 'arrowButton'
            span(class='material-icons button__arrow') arrow_forward