.radio-button {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  & .radio-button__radio-section {
    margin-right: 20px;
  }
  & .radio-button__radio-section:last-child {
    margin-left: 0px;
  }
}
