@import '../../scss/mixins';

$text-field: '.text-field';

#{$text-field} {
  position: relative;
  margin-bottom: 10px;

  &:hover #{$text-field}__field {
    border: 1px solid rgba(31, 32, 65, 0.5);
    outline: none;
  }

  &__arrow-forward {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
  }

  &__field {
    width: 100%;
    max-width: 500px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 13px 15px 12px;
    box-sizing: border-box;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.75);
    transition: 0.5s;

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);
      outline: none;
    }

    &_paddings_l {
      padding-right: 43px;
    }
  }

  &__subscription-btn {
    position: absolute;
    transform: translate(-10px, 10px);
    right: 0;
    border: none;
    background: none;
    padding: 0px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover #{$text-field}__arrow-forward {
      opacity: 0.5;
    }

    &:active #{$text-field}__arrow-forward {
      transition: none;
      opacity: 1;
    }
  }

  &__title {
    @include h3;

    margin: 5px 0;
  }
}
