mixin text-field(args)
    //- placeholderText='Email', type='textField', title=none
    - let fieldClass = 'text-field__field'

    if args.type === 'masked'
        - fieldClass += ' text-field__field-masked'
    else if args.type === 'subscription'
        - fieldClass += ' text-field__field-subscription'

    .text-field
        if args.title
            h3(class='text-field__title') !{args.title}
        input(type="text" placeholder=args.placeholderText class=fieldClass)
        if args.type === 'subscription'
            button(class='text-field__subscription-btn')
                span(class='material-icons text-field__arrow-forward') arrow_forward