mixin text-field(placeholderText='Email', type='textField', title=none)
    - var textFieldType

    if type == 'masked'
        - placeholderText = 'ДД.ММ.ГГГГ'
        - textFieldType = 'text-field__field-masked'
    else if type == 'subscription'
        - textFieldType = 'text-field__field-subscription'

    .text-field
        if title
            h3(class='text-field_title') !{title}
        input(type="text" placeholder=placeholderText class="text-field__field " + textFieldType)
        if type == 'subscription'
            button(class='text-field__subscription-btn')
                span(class='material-icons text-field__arrow-forward') arrow_forward