mixin set_type-block(tag, text)
    if tag == 'h1'
        - var type = 'H1'
    else if tag == 'h2'
        - var type = 'H2'
    else if tag == 'h3'
        - var type = 'H3'
    else
        - var type = 'Body'

    .type-block
        #{tag}(class='type-block__tag') !{type}
        #{tag}(class='type-block__text') !{text}