- const config = require('./config.json');

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Links
  body
    .page-with-links
      nav.page-with-links__navigation
        ul.page-with-links__links
          each link in config.links
            li.page-with-links__item
              a.page-with-links__link(href=link.href) !{link.text}
