// FONTS

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/montserrat/montserrat-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/montserrat/montserrat.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/montserrat/montserrat-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Quicksand;
  src: url('/assets/fonts/quicksand/quicksand.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Quicksand;
  src: url('/assets/fonts/quicksand/quicksand-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/open-sans/open-sans-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/material-icons/material-icons.woff') format('woff');
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('/assets/fonts/font-awesome/font-awesome-brands.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/roboto/roboto-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/roboto/roboto-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

// Font Awesome Brand Style
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

// Font Awesome Icons
.fa-facebook-square:before {
  content: '\f082';
}

.fa-twitter:before {
  content: '\f099';
}

.fa-instagram:before {
  content: '\f16d';
}

// Material Icons Font
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.71rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// TEXT

html {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71rem;
  color: rgba(31, 32, 65, 0.75);
}

body {
  margin: 0;
}

h1 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.71rem;
  line-height: 2.15rem;
  color: #1f2041;
}

h2 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.72rem;
  color: #1f2041;
}

h3 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1.08rem;
  text-transform: uppercase;
  color: #1f2041;
}

.links-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.links__item {
  margin: 20px;
}

.links__link {
  text-decoration: none;
  color: #8ba4f9;
  transition: color 0.3s ease-in;
  &:hover {
    color: #bc9cff;
  }
}
