- const config = require('./config.json');

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Links
  body
    nav.links-wrapper
      ul.links
        each link in config.links
          li.links__item
            a.links__link(href=link.href) !{link.text}
