@import "../../../scss/vars.scss";

.checkbox-button {
    position: relative;
    margin: 12px 0;
    padding-left: 30px;
}

.checkbox-button__checkbox-element {
    display: none;
    &:checked + .checkbox-button__label:before {
        border-color: $purple;
    }
    &:checked + .checkbox-button__label:after {
        transform: rotate(45deg) scale(1);
        animation: jumpUp 0.2s ease;
    }
}

.checkbox-button__label {
    display: block;
    line-height: 18px;
    color: $darkShade50;
    transition: color 0.5s ease;
    &:hover {
        color: $darkShade75;
    }
    &:before {
        content: "";
        width: 18px;
        height: 18px;
        border: 1px solid $darkShade25;
        position: absolute;
        left: 0;
        top: -1px;
        border-radius: 4px;
        transition: border-color 0.5s ease;
    }
    &:hover::before {
        border-color: $purple;
    }
    &:after {
        content: "";
        position: absolute;
        left: 7px;
        top: 4px;
        width: 4px;
        height: 6px;
        border-right: 2px solid;
        border-bottom: 2px solid;
        transition: 0.2s ease;
        transform: rotate(45deg) scale(0.1);
        border-image-source: linear-gradient(180deg, $purple 0%, $blue 100%);
        border-image-slice: 1;
    }
}

.checkbox-button__label_rich {
    width: 100%;
    font-weight: bold;
    color: $darkShade75;
    &:hover {
        color: $darkShade100;
    }
}

.checkbox-button__rich-text {
    padding-top: 6px;
    width: 100%;
    max-width: 236px;
    font-size: 0.85rem;
    color: $darkShade50;
    line-height: 14px;
}

.checkbox-button_rich {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}

@keyframes jumpUp {
    50% {
        -webkit-transform: scale(1.2) rotate(45deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(45deg);
    }
}