include ../dropdown-header/dropdown-header.pug
include ../drop-menu/drop-menu.pug

mixin comfort-dropdown({ title = 'dropdown' } = {})
  .comfort-dropdown.js-comfort-dropdown
    .comfort-dropdown__title !{title}
    +dropdown-header({ placeholder: 'Выберите удобства', isStraightBottom: true })
    +drop-menu({ options: ['спальни', 'кровати', 'ванные комнаты']} )