mixin comfort-dropdown({ title } = {})
  - let options = ['спальни', 'кровати', 'ванные комнаты'];

  .comfort-dropdown.js-comfort-dropdown
    input.comfort-dropdown__check.js-comfort-dropdown__check(type="checkbox")
    
    h3.comfort-dropdown__title !{title}
    label(class='comfort-dropdown__header js-comfort-dropdown__header')
      .comfort-dropdown__header-text.js-comfort-dropdown__header-text Выберите удобства
      i.comfort-dropdown__expand-more keyboard_arrow_down
    
    .comfort-dropdown__drop-menu.js-comfort-dropdown__drop-menu
      each val in options
        .comfort-dropdown__option
          .comfort-dropdown__option-title !{val}
          .comfort-dropdown__quantity-selection
            button.comfort-dropdown__quantity-button.comfort-dropdown__quantity-button_subtract.js-comfort-dropdown__quantity-button(
              type='button' disabled
            ) -
            .comfort-dropdown__quantity-number.js-comfort-dropdown__quantity-number 0
            button.comfort-dropdown__quantity-button.comfort-dropdown__quantity-button_add.js-comfort-dropdown__quantity-button(
              type='button'
            ) +
