include ../dropdown-header/dropdown-header.pug
include ../drop-menu/drop-menu.pug

mixin comfort-dropdown({ title = 'dropdown' } = {})
  .comfort-dropdown.js-comfort-dropdown
    .comfort-dropdown__title !{title}
    +dropdown-header({ placeholder: 'Выберите удобства', theme: 'straight-bottom' })
    +drop-menu({ options: ['спальни', 'кровати', 'ванные комнаты'], themes: ['bordered', 'indented']} )