include ../dropdown/dropdown.pug

mixin comfort-dropdown({ title = 'dropdown' } = {})
  .js-comfort-dropdown
    +dropdown({ type: 'comfort', title, isButtons: false, placeholder: 'Выберите удобства', options: ['спальни', 'кровати', 'ванные комнаты'] })