include ../button/button.pug
include ../navbar/navbar.pug

mixin header({ logoPath, navbar = [] } = {})
  header.header.js-header
    .header__container
      .header__content
        a(href="#")
          img.header__logo(src=logoPath, alt="logo")
        +navbar({ items: navbar })
        label.header__burger.js-header__burger
          .header__burger-image

    .header__hidden-navbar.js-header__hidden-navbar      
      +navbar({ items: navbar, vertical: true })
    
    //- +navbar({ items: navbar, vertical: true })
