include ../button/button.pug
include ../navbar/navbar.pug

mixin header(args)
    header(class='header')
        .header__content
            img(class='header__logo' src=args.logoPath, alt="logo")
            input(type="checkbox", name="header", id="header", class='header__menu-check')
            +navbar({type: 'horizontal', items: args.navbar})
            label(for="header", class='header__burger')
                .header__burger-image
    +navbar({type: 'vertical', items: args.navbar})