mixin set_text_field(placeholder_text='', type='text_field')
    - var container_class = ''
    - var text_field_classes
    if type == 'masked_text_field'
        - placeholder_text = 'ДД.ММ.ГГГГ'
        - text_field_classes = 'text-field_masked'
    else if type == 'subscription_textfield'
        - text_field_classes = 'text-field_subscription'
        - container_class = 'text-field-container-subscription'

    div(class='text-field-container ' + container_class)
        input(type="text" placeholder=placeholder_text class="text-field_style text-field_text-font text-field_placeholder_font " + text_field_classes)
        if type == 'subscription_textfield'
            button(class='text-field__subscription-btn')
                .text-field__button-image