.text-field_style {
    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 13px 15px;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
    &::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }
    &:hover, &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
        outline: none;
    }
}

.text-field_subscription {
    height: 42px;
    border: none;
    width: 80%;
    &:hover, &:focus {
        border: none;
    }
}

.text-field-container-subscription {
    width: 320px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 9px;
    &:hover, &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
        outline: none;
    }
}

.text-field__subscription-btn {
    border: none;
    background: none;
    padding: 0px;
    &:focus {
        outline: none;
    }
    &:active {
        transform: scale(0.8, 0.8);
    }
}

.text-field__arrow-forward {
    background:-moz-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

.text-field__subscription-btn:hover .text-field__arrow-forward {
    background: rgba(31, 32, 65, 0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}