@import '@/scss/mixins';

.type-block {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;

  &__text {
    padding-left: 30px;
    margin: 0;

    &_size {
      &_large {
        @include h1;
      }

      &_medium {
        @include h2;
      }

      &_small {
        @include h3;
      }
    }
  }

  &__tag {
    margin: 0;
    width: 49px;
    text-align: right;
    flex: none;
    font-weight: 300;
    color: rgba(31, 32, 65, 0.25);
    @include type-block-tag;

    &_size {
      &_large {
        @include h1;
        @include type-block-tag;
      }

      &_medium {
        @include h2;
        @include type-block-tag;
      }

      &_small {
        @include h3;
        @include type-block-tag;
      }
    }
  }
}
