.button_with-border {
  color: #bc9cff;
  padding: 13px 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  -webkit-background-clip: padding-box, border-box;
}
