include ../text-field/text-field.pug
include ../radio-button/radio-button.pug
include ../button/button.pug
include ../toggle/toggle.pug

mixin registration-card({ title = 'Регистрация', textFieldName, textFieldSurname, radioButton, textFieldBirth, textFieldEmail, textFieldPassword, toggle, buttonPayment, loginLabel = 'Уже есть аккаунт на Toxin', buttonEntry} = {})
  -
    const radioButtonDefault = { 'buttons': [
      { 'name': 'radioGender', 'value': 'male', 'text': 'Мужчина', 'checked': true },
      { 'name': 'radioGender',' value': 'female', 'text': 'Женщина' }
    ]}
  
  .registration-card
    form
      h1.registration-card__title !{title}

      .registration-card__person
        .registration-card__text-field-wrapper
          +text-field(textFieldName || { 'placeholderText': 'Имя', 'type': 'text' })
        .registration-card__text-field-wrapper
          +text-field(textFieldSurname || { 'placeholderText': 'Фамилия', 'type': 'text' })
        +radio-button(radioButton || radioButtonDefault)

      +text-field(textFieldBirth)
      .registration-card__login-details
        .registration-card__text-field-wrapper
          +text-field(textFieldEmail)
        .registration-card__text-field-wrapper
          +text-field(textFieldPassword || { 'placeholderText': 'Пароль', 'type': 'password' })
        +toggle(toggle || { 'text': 'Получать спецпредложения', 'name': 'toggleSpecialOffers' })
        
      +button(buttonPayment || { 'type': 'arrow', 'text': 'перейти к оплате' })
      .registration-card__account-login
        .registration-card__login-label !{loginLabel}
        .registration-card__login-button
          +button(buttonEntry || { 'type': 'border', 'text': 'войти' })
