@import '@/scss/mixins';
@import '@/common.blocks/text-field/text-field';
@import '@/common.blocks/radio-button/radio-button';
@import '@/common.blocks/button/button';
@import '@/common.blocks/toggle/toggle';

.registration-card {
  width: 100%;
  padding: 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__account-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__login-details {
    margin: 18px 0 17px;
  }

  &__person {
    padding-top: 10px;
    padding-bottom: 17px;
  }

  &__title {
    @include h1;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  &__text-field-wrapper {
    padding-bottom: 9px;
  }

  &__login-button {
    width: 100px;
  }
}
