include ../text-field/text-field.pug
include ../radio-button/radio-button.pug
include ../button/button.pug
include ../toggle/toggle.pug

mixin registration-card({ title = 'Регистрация', textFieldName, textFieldSurname, radioButton, textFieldBirth, textFieldEmail, textFieldPassword, toggle, buttonPayment, loginLabel = 'Уже есть аккаунт на Toxin', buttonEntry} = {})
  if textFieldName === undefined 
    - textFieldName = { 'placeholderText': 'Имя', 'type': 'text' }

  if textFieldSurname === undefined 
    - textFieldSurname = { 'placeholderText': 'Фамилия', 'type': 'text' }

  if radioButton === undefined 
    - radioButton = { 'buttons': [{ 'name': 'radioGender', 'value': 'male', 'text': 'Мужчина', 'checked': true }, { 'name': 'radioGender',' value': 'female', 'text': 'Женщина' }]}

  if textFieldBirth === undefined 
    - textFieldBirth = { 'placeholderText': 'ДД.ММ.ГГГГ', 'masked': true, 'title': 'Дата рождения', 'type': 'text' }

  if textFieldEmail === undefined 
    - textFieldEmail = { 'placeholderText': 'Email', 'title': 'Данные для входа в сервис', 'type': 'email' }

  if textFieldPassword === undefined 
    - textFieldPassword = { 'placeholderText': 'Пароль', 'type': 'password' }

  if toggle === undefined 
    - toggle = { 'text': 'Получать спецпредложения', 'name': 'toggleSpecialOffers' }

  if buttonPayment === undefined 
    - buttonPayment = { 'type': 'arrow', 'text': 'перейти к оплате' }

  if buttonEntry === undefined 
    - buttonEntry = { 'type': 'border', 'text': 'войти' }
  
  .registration-card
    form
      h1.registration-card__title !{title}

      .registration-card__person
        .registration-card__text-field-wrapper
          +text-field(textFieldName)
        .registration-card__text-field-wrapper
          +text-field(textFieldSurname)
        +radio-button(radioButton)

      +text-field(textFieldBirth)
      .registration-card__login-details
        .registration-card__text-field-wrapper
          +text-field(textFieldEmail)
        .registration-card__text-field-wrapper
          +text-field(textFieldPassword)
        +toggle(toggle)
        
      +button(buttonPayment)
      .registration-card__account-login
        .registration-card__login-label !{loginLabel}
        .registration-card__login-button
          +button(buttonEntry)
