.room-details {
    width: 280px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    flex-direction: row;
    display: flex;
    align-items: center;
}

.room-details__icon {
    font-size: 48px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.room-details__text {
    padding-left: 10px;
    flex-direction: column;
    display: inline-flex;
}

.room-details__title {
    font-weight: bold;
}