mixin roomDetails(icon, title, description)
    .room-details
        i(class='material-icons room-details__icon') !{icon}
        .room-details__text
            .room-details__title !{title}
            .room-details__description !{description}