.color-sample__color-square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    display: inline-block;
}

.color-sample__color-square_Dark_Shade_100 {
    background: #1F2041;
}

.color-sample__color-square_Dark_Shade_75 {
    background: rgba(31, 32, 65, 0.75);
}

.color-sample__color-square_Dark_Shade_50 {
    background: rgba(31, 32, 65, 0.5);
}

.color-sample__color-square_Dark_Shade_25 {
    background: rgba(31, 32, 65, 0.25);
}

.color-sample__color-square_Dark_Shade_5 {
    background: rgba(31, 32, 65, 0.05);
}

.color-sample__color-square_Purple {
    background: #BC9CFF;
}

.color-sample__color-square_Green {
    background: #6FCF97;
}