mixin set_color-sample(color, color_name, color_code)

    .color-sample.color-sample_flex
        div(class='color-sample__color-square color-sample__color-square_' + color)
        div(class='color-description color-sample__color-description color-sample__color-description_display '
            + 'color-sample__color-description_flex')
        .color-description.color-sample__color-description.color-sample__color-description_display.color-sample__color-description_flex
            .color-description__color-name
                p(class='color-description_p color-description_p_margin') !{color_name}
            .color-description__color-code
                p(class='color-description_p color-description_p_margin') !{color_code}