extends layout-for-pages

block includs

block title

block content
    .registration-signin-page__body
        .registration-signin-page__background.registration-signin-page__background1
        .registration-signin-page__background.registration-signin-page__background2
        .registration-signin-page__body-content-container
            .registration-signin-page__registration-card-container
                block card