mixin rate-button(args)
    .rate-button
        - for (var i = 0; i < 5; i++)
            if i < args.rate
                span(class='material-icons rate-button__star') star
            else
                span(class='material-icons rate-button__star') star_border