mixin rate-button({ rate = 0 } = {})    
  .rate-button
    - for (var i = 0; i < 5; i++)
      - let starIcon = 'star'

      if i >= rate
        - starIcon = 'star_border'
        
      span.material-icons.rate-button__star #{starIcon}
