@import '../../scss/mixins';

$dropdown: '.dropdown';

#{$dropdown} {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;

  &__bottom-buttons-panel {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 7px;
  }

  &__button-clear {
    & input {
      display: none;
    }
  }

  &__check {
    display: none;

    &:checked {
      & ~ #{$dropdown}__header {
        border-radius: 4px 4px 0 0;
        border: 1px solid rgba(31, 32, 65, 0.5);
      }

      & ~ #{$dropdown}__drop-menu {
        transition: transform 0.4s cubic-bezier(0.73, 0.32, 0.34, 1.5);
        transform: scale(1, 1);
        opacity: 1;

        & #{$dropdown}__option,
        & #{$dropdown}__bottom-buttons-panel,
        & .calendar__days,
        & .calendar__month-selection-section {
          transition: opacity 1.2s ease;
          opacity: 1;
        }
      }
    }

    &:not(:checked) {
      & ~ #{$dropdown}__header {
        transition: border-radius 0.3s 0.5s ease, border-color 0.5s ease;
      }

      & ~ #{$dropdown}__drop-menu {
        transition: transform 0.5s;

        & #{$dropdown}__option,
        & #{$dropdown}__bottom-buttons-panel,
        & .calendar__days-section,
        & .calendar__month-selection-section {
          transition: opacity 0.3s;
          opacity: 0;
        }
      }
    }
  }

  &__date-block {
    width: 47%;
  }

  &__date-section {
    width: 100%;
    max-width: 320px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  &__drop-menu {
    position: absolute;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    transform-origin: top;
    transform: scale(1, 0);
    z-index: 99;

    & #{$dropdown}__option,
    & #{$dropdown}__bottom-buttons-panel,
    & #{$dropdown}__days,
    & #{$dropdown}__month-selection-section {
      opacity: 0;
    }

    &_with-border {
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-top: none;
      box-sizing: border-box;
      padding: 2px 6px 2px 15px;
      flex-direction: column;
      border-radius: 0 0 4px 4px;
    }

    &_separate-from-dropdown {
      padding-top: 5px;
    }
  }

  &__expand-more {
    color: rgba(31, 32, 65, 0.5);
    pointer-events: none;
    display: inline-block;
    flex: none;
    user-select: none;

    &_absolute {
      position: absolute;
      right: 8px;
    }
  }

  &__header {
    padding: 9px 15px;
    padding-right: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(31, 32, 65, 0.75);
    transition: border-color 0.5s ease;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);
      outline: none;
    }

    &_all-angles-are-round {
      border-radius: 4px;
    }

    &_top-angles-are-round {
      border-radius: 4px 4px 0 0;
    }
  }

  &__header-text {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    display: inline-block;
    flex: none;
  }

  &__option {
    font-weight: bold;
    display: flex;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #1f2041;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
  }

  &__quantity-button {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 1.28rem;
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 15px;
    background: #ffffff;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }

    &:hover {
      border: 1px solid rgba(31, 32, 65, 0.25);
      color: rgba(31, 32, 65, 0.25);
    }

    &:active {
      transition: none;
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.5);
    }

    &:disabled {
      border: 1px solid rgba(31, 32, 65, 0.25);
      color: rgba(31, 32, 65, 0.25);
      cursor: default;
    }
  }

  &__quantity-selection {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__quantity-number {
    width: 30px;
    text-align: center;
  }

  &__start-date-input,
  &__end-date-input {
    position: relative;

    & .text-field__field {
      cursor: pointer;
    }
  }

  &__date-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    pointer-events: none;
  }

  &__title {
    @include h3;
    margin-bottom: 5px;
  }
}
