mixin set_room-details(icon, title, description)
    .room-details
        span(class='material-icons room-details__icon') !{icon}
        .room-details__text
            .room-details__title !{title}
            .room-details__description !{description}
    //- img(src=imageUrl, alt="")
