.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header-section {
  display: flex;
}

.content-section {
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer-section {
  display: flex;
}

article {
  width: 100%;
}
