- const config = require('./config.json')

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug

block includs

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            block title
    body
        +header({navbar: {
            "navbar": [
            "О нас",
            {
                "title": "Услуги",
                "items": [
                "Обслуживание номеров",
                "Парковка",
                "Персональный сейф",
                "Интернет",
                "Кабельное телевидние",
                "Питание"
                ]
            },
            "Вакансии",
            "Новости",
            {
                "title": "Соглашения",
                "items": [
                "Правила проживания",
                "Бонусная программа",
                "Политика конфиденциальности"
                ]
            }
            ]
        }})

        article
            block content

        //- +footer()