- const config = require('./config.json')
- const layoutConfig = require('../layout-for-pages/config.json')

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug

block includs

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            block title
    body
        +header(layoutConfig.header)

        article
            block content

        +footer(layoutConfig.footer)