- const config = require('./config.json');
- const layoutConfig = require('../layout-for-pages/config.json');

include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug

block includes

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 
      block title
  body
    .site-container
      section.header-section
        +header(layoutConfig.header)

      section.content-section
        article
          block content

      section.footer-section
        +footer(layoutConfig.footer)
