include ../../../common.blocks/text-field/text-field.pug
include ../../../common.blocks/radio-button/radio-button.pug
include ../../../common.blocks/button/button.pug
include ../toggle/toggle.pug

mixin registrationCard()
    .registrationCard
        h1(class='registrationCard__title registrationCard__title_margin') Регистрация аккаунта
        .registrationCard__person
            +text-field({placeholderText: 'Имя'})
            +text-field({placeholderText: 'Фамилия'})
            +radio-button({buttons: [{id: 'radioMale', name: 'radioGender', value: 'male', text: 'Мужчина', checked: true}, {id: 'radioFemale', name: 'radioGender', value: 'female', text: 'Женщина'}]})
        +text-field({placeholderText: 'ДД.ММ.ГГГГ', type: 'masked', title: 'Дата рождения'})
        .registrationCard__login-details
            +text-field({placeholderText: 'Email', title: 'Данные для входа в сервис'})
            +text-field({placeholderText: 'Пароль'})
            +toggle('Получать спецпредложения', 'toggleSpecialOffers', 'toggleSpecialOffers')
        +button({type: 'arrow', text: 'перейти к оплате'})
        .registrationCard__account-login
            .registrationCard__login-label Уже есть аккаунт на Toxin
            .registrationCard__login-button
                +button({type: 'border', text: 'войти'})