html {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71rem;
  color: rgba(31, 32, 65, 0.75);
}

body {
  margin: 0;
}

h1 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.71rem;
  line-height: 2.15rem;
  color: #1f2041;
}

h2 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.72rem;
  color: #1f2041;
}

h3 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1.08rem;
  text-transform: uppercase;
  color: #1f2041;
}