@import './_vars';

@mixin h1() {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.71rem;
  line-height: 2.15rem;
  color: #1f2041;
}

@mixin h2() {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.72rem;
  color: #1f2041;
}

@mixin h3() {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1.08rem;
  text-transform: uppercase;
  color: #1f2041;
}

@mixin background-position() {
  background-size: cover;
  background-position: center center;
}

@mixin additional-photo-size() {
  width: 100%;
  height: 50%;
}

@mixin type-block-tag() {
  font-weight: 400;
  color: rgba(31, 32, 65, 0.25);
}

@mixin site-container() {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

@mixin content-section() {
  display: flex;
  flex: 1;
  justify-content: center;
}

@mixin article() {
  width: 100%;
}

@mixin material-icon() {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.71rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
