@mixin h1() {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.71rem;
  line-height: 2.15rem;
  color: #1f2041;
}

@mixin h2() {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.72rem;
  color: #1f2041;
}

@mixin h3() {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1.08rem;
  text-transform: uppercase;
  color: #1f2041;
}
