@mixin h1() {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.71rem;
  line-height: 2.15rem;
  color: #1f2041;
}

@mixin h2() {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.72rem;
  color: #1f2041;
}

@mixin h3() {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1.08rem;
  text-transform: uppercase;
  color: #1f2041;
}

@mixin typeBlockTag() {
  font-weight: 400;
  color: rgba(31, 32, 65, 0.25);
}

@mixin site-container() {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

@mixin content-section() {
  display: flex;
  flex: 1;
  justify-content: center;
}

@mixin article() {
  width: 100%;
}
