@import 'vars.scss';

.landing-page__landing-body {
    width: 100%;
    height: 100vh;
    background: url('../assets/images/landing_image_1.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.landing-page__body-content-container {
    position: relative;
    width: 100%;
    max-width: 1160px;
    padding: 70px 20px;
}

.landing-page__search-card-container {
    width: 380px;
}

.landing-page__body-text {
    position: absolute;
    width: 297px;
    text-align: right;
    bottom: 0;
    right: 0;
    padding-bottom: 18px;
    font-family: Montserrat;
    font-size: 14px;
    color: $darkShade75;
}