@import './vars';

html {
  font-family: $montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71rem;
  color: rgba(31, 32, 65, 0.75);
}

body {
  margin: 0;

  @media screen and (max-width: 300px) {
    overflow-wrap: anywhere;
  }
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.content-section {
  display: flex;
  flex: 1;
  justify-content: center;
}

article {
  width: 100%;
}
