@import 'vars.scss';

body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
    letter-spacing: 0.01em;
}

h1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $darkShade100;
    letter-spacing: -0.02em;
}

h2 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $darkShade100;
    letter-spacing: -0.02em;
}

h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
}