html {
    font-size: 14px;
}

body {
    font-family: "Montserrat";
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71rem;
    color: rgba(31, 32, 65, 0.75);
}

h1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 1.71rem;
    line-height: 2.15rem;
    color: #1F2041;
}

h2 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 1.35rem;
    line-height: 1.72rem;
    color: #1F2041;
}

h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 0.85rem;
    line-height: 1.08rem;
    text-transform: uppercase;
    color: #1F2041;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.71rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}