.central-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-family: 'Montserrat';
    margin-bottom: 50px;
}

.section-block {
    padding-bottom: 100px;
}

.module {
    margin-bottom: 22px;
    width: 100%;
}

.module_width266 {
    max-width: 266px;
}

.module__title {
    margin-bottom: 5px;
}


// COLORS AND TYPE BLOCK

.colors-and-type {
    width: 100%;
    // justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}

.colors-and-type__type {
    max-width: 420px;
    flex-direction: column;
    & > div {
        margin-bottom: 50px;
    }
    & > div:last-of-type {
        margin-bottom: 0;
    }
}

.colors-and-type__colors {
    // max-width: 680px;
    width: 59%;
    min-width: 350px;
    flex-direction: column;
    & > div {
        margin-bottom: 20px;
    }
    & > div:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 750px){
    .colors-and-type {
        flex-direction: column;
        justify-content: center;
    }

    .colors-and-type__colors {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .colors-and-type__type {
        margin: 0 auto;
    }

    .section-title {
        text-align: center;
    }
}



// Form Elements Block

.form-elements__three-column-layout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
    // margin: 0 -25px;
}

.form-elements__column {
    width: 100%;
    max-width: 320px;
    // margin: 0 25px;
}

.buttons-block h3 {
    margin-bottom: 17px;
}

.buttons-block .module{
    margin-bottom: 28px;
}

.buttons-block .module:last-child{
    margin-bottom: 0;
}

.module-2-buttons {
    & > .button {
        display: inline-block;
    }
    & .button:first-child {
        margin-right: 20px;
    }
    flex-direction: row;
}

.likeButtonSection {
    flex-direction: row;
    display: inline-flex;
    & > div {
        margin-left: 10px;
    }
    & > div:first-child {
        margin-left: 0;
    }
}

.rateButtonSection {
    flex-direction: row;
    display: inline-flex;
    & > div {
        margin-left: 20px;
    }
    & > div:first-child {
        margin-left: 0;
    }
}

.form-elements__two-column-layout {
    display: flex;
    // margin: 0 -25px;
    justify-content: space-between;
    width: 100%;
}

.form-elements__column_100-percent-width {
    max-width: 740px;
    width: 100%;
    display: flex;
    // margin: 0 auto;
    & .module {
        margin: auto 0;
        display: flex;
        align-content: center;
    }
}

.form-elements__column_no-margin {
    margin: 0;
}

@media screen and (max-width: 1130px){
    .form-elements__three-column-layout {
        justify-content: space-evenly;
    }

    .form-elements__column {
        margin: 0 25px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 750px){

    .form-elements__two-column-layout {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-elements__column {
        margin-bottom: 0;
    }
}


// Cards

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards_column {
    width: 380px;
}

.module_calendar {
    width: 320px;
}

.cards_column-270 {
    width: 100%;
    max-width: 270px;
}

@media screen and (max-width: 1230px){
    .cards {
        justify-content: space-evenly;
    }

    .cards_column {
        margin: 0 10px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 870px){
    .cards_column {
        margin-bottom: 0;
    }
}