@import '../../../scss/vars.scss';

.color-block {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.color-block__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    display: inline-block;
}

.color-block__square_color-dark100 {
    background: $darkShade100;
}

.color-block__square_color-dark75 {
    background: $darkShade75;
}

.color-block__square_color-dark50 {
    background: $darkShade50;
}

.color-block__square_color-dark25 {
    background: $darkShade25;
}

.color-block__square_color-dark5 {
    background: $darkShade5;
}

.color-block__square_color-purple {
    background: $purple;
}

.color-block__square_color-green {
    background: $green;
}

.color-block__description {
    padding-left: 40px;
}

.color-block__colorName {
    margin: 0;
    margin-bottom: 5px;
}

.color-block__color-code {
    font-family: 'Quicksand';
    font-size: 19px;
    font-weight: normal;
}