mixin color-block(colorName)
    - var colorClass = 'color-block__square_'
    - var colorCode = '#1F2041'

    if colorName == 'Dark Shade 100%'
        - colorClass += 'color-dark100'
    if colorName == 'Dark Shade 75%'
        - colorClass += 'color-dark75'
    if colorName == 'Dark Shade 50%'
        - colorClass += 'color-dark50'
    if colorName == 'Dark Shade 25%'
        - colorClass += 'color-dark25'
    if colorName == 'Dark Shade 5%'
        - colorClass += 'color-dark5'
    if colorName == 'Purple'
        - colorClass += 'color-purple'
        - colorCode = '#BC9CFF'
    if colorName == 'Green'
        - colorClass += 'color-green'
        - colorCode = '#6FCF97'

    .color-block
        div(class='color-block__square ' + colorClass)
        .color-block__description
            h2(class='color-block__colorName') !{colorName}
            .color-block__color-code !{colorCode}