mixin color-block( {theme, colorName, colorCode} = {} )
  - let colorSquareClass = 'color-block__square';

  if theme === 'darkShade100'
    - colorSquareClass += ' color-block__square_theme_dark-shade-100';
  else if theme === 'darkShade75'
    - colorSquareClass += ' color-block__square_theme_dark-shade-75';
  else if theme === 'darkShade50'
    - colorSquareClass += ' color-block__square_theme_dark-shade-50';
  else if theme === 'darkShade25'
    - colorSquareClass += ' color-block__square_theme_dark-shade-25';
  else if theme === 'darkShade5'
    - colorSquareClass += ' color-block__square_theme_dark-shade-5';
  else if theme === 'purple'
    - colorSquareClass += ' color-block__square_theme_purple';
  else if theme === 'green'
    - colorSquareClass += ' color-block__square_theme_green';
  else
    - colorSquareClass += ' color-block__square_theme_dark-shade-100';

  .color-block
    div(class=colorSquareClass)
    .color-block__description
      h2.color-block__color-name !{colorName}
      .color-block__color-code !{colorCode}
