.color-block {
  flex-direction: row;
  display: flex;
  align-items: center;
}

// .color-block__square_color-dark100 {
//     background: $darkShade100;
// }

// .color-block__square_color-dark75 {
//     background: $darkShade75;
// }

// .color-block__square_color-dark50 {
//     background: $darkShade50;
// }

// .color-block__square_color-dark25 {
//     background: $darkShade25;
// }

// .color-block__square_color-dark5 {
//     background: $darkShade5;
// }

// .color-block__square_color-purple {
//     background: $purple;
// }

// .color-block__square_color-green {
//     background: $green;
// }




