mixin bullet-list(args)
    .bullet-list
        ul(class='bullet-list__unordered-list')
            each item in args.menuItems
                - let itemClass = 'bullet-list__item'
                if(args.theme === undefined)
                    - itemClass += ' bullet-list__item__standard-theme'
                li(class=itemClass) !{item}